<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">

    	<a [routerLink]="['/home-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-home fa-fw"></i>&nbsp;{{ 'Home' | translate }}
        </a>
        
        <a [routerLink]="['/create-order-page']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="currentUser != undefined">
            <i class="fa fa-edit fa-fw"></i>&nbsp;{{ 'Publish Order' | translate }} 
            <br> 
            <i class="fa fa-fw"></i>&nbsp;<small>וקבל הצעות מחיר</small>
        </a>
        
        <div class="nested-menu" *ngIf="currentUser != undefined && currentUser.child('companyId').val()">
            <a class="list-group-item" (click)="addExpandClass('orders_pages')">
                <span><i class="fa fa-fw fa-book"></i>&nbsp; {{ 'My Orders' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'orders_pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/my-new-orders-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-fire"></i>&nbsp; {{ 'New Orders' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/my-pending-orders-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-truck"></i>&nbsp; {{ 'Pending Orders' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/my-completed-orders-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-lock"></i>&nbsp; {{ 'Completed Orders' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        
        <a [routerLink]="['/manager-registration-page']" *ngIf="currentUser && currentUser.child('manager').val() === false" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-truck"></i>&nbsp;{{ 'Register As Manager' | translate }}
            <br> 
            <span>&nbsp;<small>ומצא עבודה למשאיות שלך</small></span>
        </a>
        
        <a [routerLink]="['/open-orders-page', '0', '0', '0', '0']" [routerLinkActive]="['router-link-active']" *ngIf="currentUser && currentUser.child('manager').val() === true" class="list-group-item">
        	<span><i class="fa fa-cc-visa"></i>&nbsp; הזמנות פותחות</span>
            <br> 
            <span><i class="fa fa-fw"></i>&nbsp;<small>הגש הצעות מחיר</small></span>
        </a>
        
        <div class="nested-menu" *ngIf="currentUser && currentUser.child('manager').val() === true">
            <a class="list-group-item" (click)="addExpandClass('deliveries_pages')">
                <span><i class="fa fa-truck"></i>&nbsp; {{ 'My Deliveries' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'deliveries_pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/my-pending-deliveries-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-truck"></i>&nbsp; {{ 'Pending Deliveries' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/my-completed-deliveries-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-lock"></i>&nbsp; {{ 'Completed Deliveries' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        
        <a [routerLink]="['/my-calendar']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="currentUser != undefined && currentUser.child('companyId').val()">
            <i class="fa fa-calendar fa-fw"></i>&nbsp;היומן שלי
        </a>
        
        <a [routerLink]="['/about-us-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-address-book"></i>&nbsp;{{ 'About Us' | translate }}
        </a>
        
        <a [routerLink]="['/contact-us-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-handshake-o"></i>&nbsp;{{ 'Contact Us' | translate }}
        </a>
        
        <div class="nested-menu" *ngIf="currentUser && currentUser.child('appManager').val() === true">
            <a class="list-group-item" (click)="addExpandClass('app_manager_pages')">
                <span><i class="fa fa-user-secret"></i>&nbsp; {{ 'CRM' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'app_manager_pages'">
                <ul class="submenu">
                    <!-- <li>
                        <a [routerLink]="['/managers-registration-requests-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-user-plus"></i>&nbsp; {{ 'Managers Requests' | translate }}</span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/manage-unpaid-orders-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-book"></i>&nbsp; עסקאות חייבות</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/manage-cancelled-orders-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-book"></i>&nbsp; עסקאות שבוטלו</span></a>
                    </li>
                    <li> 
                        <a [routerLink]="['/manage-users-page']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-users"></i>&nbsp; {{ 'Manage Users' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        
        <br><br>
        
        <a routerLink="/dashboard" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/charts']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu" *ngIf="isDevMode">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" *ngIf="isDevMode" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <a class="list-group-item more-themes" *ngIf="isDevMode" href="http://www.strapui.com/" >
            {{ 'More Theme' | translate }}
        </a>
    </ul>
</nav>
