<div class="form-control in-bl" style='margin-bottom: 5px'>
	<div style="float: left" *ngIf="isEditable">
		<button type="button" class="btn btn-danger" (click)="removeProduct(productItem)"><i class="fa fa-trash"></i></button>
	</div>
	<div class="row" style="font-size: 12px;">
		<div class="col-md-3">
			<i class="fa fa-dropbox fa-5x" *ngIf="!productItem.cargoShippingOptions"></i>
			<i class="fa fa-th fa-5x" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 1"></i>
			<i class="fa fa-truck fa-5x" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 2"></i>
			<i class="fa fa-shopping-bag fa-5x" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 3"></i>
			<i class="fa fa-dropbox fa-5x" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 4"></i>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12" style="font-size: 18px;">
					<strong>{{productItem.name}}</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					כמות:
				</div>
				<div class="col-md-9">
					<strong>{{productItem.quantity}}</strong>
				</div>
			</div>
			<div class="row" *ngIf="productItem.cargoShippingOptions !== undefined">
				<div class="col-md-3">
					אריזה:
				</div>
				<div class="col-md-9">
					<strong>{{productItem.cargoShippingOptions | resolveShippingOptions}}</strong> 
				</div>
			</div>
			<div class="row" *ngIf="productItem.cargoShippingOptions == 4">
				<div class="col-md-3">
					גודל:
				</div>
				<div class="col-md-9">
					<strong>{{productItem.width | resolveSize}} על {{productItem.height | resolveSize}} על {{productItem.length | resolveSize}} מטר</strong>
				</div>
			</div>
			<div class="row" *ngIf="productItem.cargoShippingOptions == 4">
				<div class="col-md-3">
					משקל:
				</div>
				<div class="col-md-9">
					<strong>{{productItem.weight | resolveWeight}}</strong>
				</div>
			</div>
		</div>
	</div>
</div>