<div class="form-control in-bl" style='margin-bottom: 5px'>
	<div style="float: left" *ngIf="isEditable">
		<button type="button" class="btn btn-danger btn-sm" (click)="removeProduct(productItem)"><i class="fa fa-trash"></i></button>
	</div>
	
	<table style="margin-bottom: 0px; font-size: .8rem;">
		<tbody>
			<tr>
				<td rowspan="3" style="text-align: center;">
					<i class="fa fa-dropbox fa-5x" style="margin-left: 1rem;" *ngIf="!productItem.cargoShippingOptions"></i>
					<i class="fa fa-th fa-5x" style="margin-left: 1rem;" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 1"></i>
					<i class="fa fa-truck fa-5x" style="margin-left: 1rem;" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 2"></i>
					<i class="fa fa-shopping-bag fa-5x" style="margin-left: 1rem;" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 3"></i>
					<i class="fa fa-dropbox fa-5x" style="margin-left: 1rem;" *ngIf="productItem.cargoShippingOptions && productItem.cargoShippingOptions == 4"></i>
				</td>
				<td>
					<table class="table table-sm" style="margin-bottom: 0px;">
						<tbody>
							<tr>
								<td style="font-size: 15px;"><strong>{{productItem.name}}</strong></td>
							</tr>
							<tr>
								<td>כמות:</td>
								<td><strong>{{productItem.quantity}}</strong></td>
							</tr>
							<tr>
								<td>אריזה:</td>
								<td><strong>{{productItem.cargoShippingOptions | resolveShippingOptions}}</strong></td>
							</tr>
							<tr *ngIf="productItem.cargoShippingOptions == 4">
								<td>גודל:</td>
								<td><strong>{{productItem.width | resolveSize}} על {{productItem.height | resolveSize}} על {{productItem.length | resolveSize}} מטר</strong></td>
							</tr>
							<tr *ngIf="productItem.cargoShippingOptions == 4">
								<td>משקל:</td>
								<td><strong>{{productItem.weight | resolveWeight}}</strong></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
	
</div>