<div class="row">
    <div class="col-xl-12">
        <h3 class="page-header">
            {{heading | translate}}
        </h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home"></i> <a href="Javascript:void(0)" [routerLink]="parentRouterLink ? parentRouterLink : ['/home-page']">{{ parentName ? parentName : ('Home' | translate)}}</a>
            </li>
            <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> {{heading | translate}}</li>
        </ol>
    </div>
</div>