<div [@routerTransition] class="main-content-container" style="min-height: 80vh;">
    <!-- <app-page-header [heading]="'הזמנה חדשה'" [icon]="'fa-edit'"></app-page-header> -->
	<div>
		<ngx-stepper #stepperDemo="stepper" [options]="stepperOptions">
		  <ngx-step [label]="'פרטי העמסה'">
		    <ngx-step-body>
	      		<div class="breadcrumb">
			       	<h4>{{'Loading Details' | translate}}</h4>
			       	
					<div class="row">
						<div class="col-md-8">
							<h6>כתובת בית העסק</h6>
							
							<div class="form-group input-group" style="margin-bottom: 0px">
				                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
				                <!-- <input ngx-google-places-autocomplete class="form-control" placeholder="{{'Search Location' | translate}}" [options]='gpacOptions' #fromSearch (onAddressChange)="handleFromAddressChange($event)"/> -->
				                <input placeholder="חפש מיקום" autocorrect="off"
								 autocapitalize="off" spellcheck="off" type="text"
								 #fromSearch
								 class="form-control"  [formControl]="searchControl">
								<button type="submit" style="margin-right: .5rem;" class="btn btn-primary" (click)="toggleFromMapVisibility()">מפה</button>
				           	</div>
							
				      		<small><i class='fa fa-fw'></i>פורמט: [רחוב ומספר, עיר, ארץ]</small>
				      		<div *ngIf="mFromMapVisibility" class="form-control" style="padding: 0px;">
				      			<agm-map [latitude]="fromLatitude" [longitude]="fromLongitude" [scrollwheel]="false" [zoom]="fromZoom"> 
									<agm-marker [latitude]="fromLatitude" [longitude]="fromLongitude" [markerDraggable]="true" (dragEnd)="fromMarkerDragEnd($event)"></agm-marker>
								</agm-map>
				      		</div>
							
							<br><br>
							<h6>תאריך העמסה</h6>
							<div>
								<input class="form-control" type="date" #pickupDate>
				            </div>
					        <br>
							<h6>שעת העמסה</h6>
							<div class="form-group">
								<input class="form-control" type="time" placeholder="שעה" #pickupTime>
							</div>
						</div>
					</div>
					<br><br>
					<button type="submit" class="btn btn-success" (click)="finishStepOne()" *ngIf="this.database.currentUser">הבא</button>
				</div>
		    </ngx-step-body>
		    <ngx-step-actions>
		    </ngx-step-actions>
		  </ngx-step>
		  <ngx-step [label]="'פרטי פריקה'">
		    <ngx-step-body>
		    	<div class="breadcrumb">
			       	<h4>פרטי פריקה</h4>
			       	<h6>כתובת בית העסק</h6>
			       	
			       	<div class="row">
						<div class="col-md-8">
							<div class="form-group input-group" style="margin-bottom: 0px">
					               <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
					               <!-- <input ngx-google-places-autocomplete class="form-control" placeholder="{{'Search Location' | translate}}" [options]='gpacOptions' #toSearch (onAddressChange)="handleToAddressChange($event)"/> -->
					               <input placeholder="חפש מיקום" autocorrect="off"
									autocapitalize="off" spellcheck="off" type="text"
									class="form-control" #toSearch [formControl]="searchControl" placeholder="{{'Search Location' | translate}}">
									<button type="submit" style="margin-right: .5rem;" class="btn btn-primary" (click)="toggleToMapVisibility()">מפה</button>
					           </div>
					      		<small><i class='fa fa-fw'></i>פורמט: [רחוב ומספר, עיר, ארץ]</small>
					      		<div *ngIf="this.steppers.currentStep === 1 && mToMapVisibility" class="form-control" style="padding: 0px;">
					      			<agm-map [latitude]="toLatitude" [longitude]="toLongitude" [scrollwheel]="false" [zoom]="toZoom"> 
										<agm-marker [latitude]="toLatitude" [longitude]="toLongitude" [markerDraggable]="true" (dragEnd)="toMarkerDragEnd($event)"></agm-marker>
									</agm-map>
					      		</div>
							
							<br><br>
							<div>
								<h6>סוג פריקה</h6>
					       		<div class="form-group input-group">
					               <span class="input-group-addon"><i class="fa fa-upload fa-fw"></i></span>
					               <select class="form-control" #selectionUloadingType>
					                   <option [value]=0>עצמית</option>
					                   <option [value]=1>מלגזה</option>
					                   <option [value]=2>עגורן</option>
					                   <option [value]=3>מנוף</option>
					                   <option [value]=4>דלת הידראולית</option>
					                   <option [value]=5>ראמפה</option>
					               </select>
					           </div>
							</div>
							
							<br><br>
							<button type="submit" class="btn btn-secondary" (click)="steppers.back()">הקודם</button>
							<button type="submit" class="btn btn-success" (click)="finishStepTwo()">הבא</button>
						</div>
					</div>
			       	
				</div>
		    </ngx-step-body>
		    <ngx-step-actions>
		    </ngx-step-actions>
		  </ngx-step>
		  <ngx-step [label]="'פרטי ההובלה'">
		    <ngx-step-body>
		    	<div class="breadcrumb">
					<h4>פרטי ההובלה</h4>
			       	<h6>ביטוח</h6>
			       	
			       	<div class="row">
						<div class="col-md-8">
					       	<div class="form-group input-group">
					               <span class="input-group-addon"><i class="fa fa-shield fa-fw"></i></span>
					               <select class="form-control" #selectionInsurance>
					                   <option [value]=0>ללא</option>
					                   <option [value]=50>עד 50 אלף שח</option>
					                   <option [value]=100>עד 100 אלף שח</option>
					                   <option [value]=500>עד 500 אלף שח</option>
					                   <option [value]=1>עד מליון</option>
					                   <option [value]=2>יותר ממליון</option>
					               </select>
					           </div>
					           
					           <h6>סוג הזמנה</h6>
					       	<div class="form-group input-group">
					               <span class="input-group-addon"><i class="fa fa-flag fa-fw"></i></span>
					               <select class="form-control" #selectionOrderType>
					                   <option [value]=0>סוג הזמנה</option>
					                   <option [value]=2>אני אבחר משאית שאני צריך</option>
					                   <option [value]=1>אני אצהיר על מוצרים והמוביל יבחר משאית</option>
					               </select>
					           </div>
					           
					           <div *ngIf="selectionOrderType.value == 2">
					           	<h6>סוג משאית</h6>
					        	<div class="form-group input-group">
					               	<span class="input-group-addon"><i class="fa fa-truck fa-fw"></i></span>
					                <select class="form-control" #selectorTruckType>
					                    <option [value]=0>טריילר</option>
					                    <option [value]=1>פול</option>
					                    <option [value]=2>דאבל</option>
					                    <option [value]=2>סינגל</option>
					                </select>
					            </div>
					            <h6>סוג נגרר</h6>
					            <div class="form-group input-group">
					               	<span class="input-group-addon"><i class="fa fa-caret-square-o-left fa-fw"></i></span>
					                <select class="form-control" #selectorTruckSubType>
					                    <option [value]=0>פלטה</option>
					                    <option [value]=1>הייבר</option>
					                    <option [value]=2>וילונות</option>
					                    <option [value]=2>קירור</option>
					                </select>
					            </div>
					            <h6>כמה משאיות ?</h6>
					            <div class="form-group input-group">
					               	<span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
									<input class="form-control" type="number" id="from_input_time" value="1" #inputTrucksCount>
								</div>
					           </div>
					           
					           <div *ngIf="selectionOrderType.value == 1">
					           	<h6>הוספת מוצר</h6>
					            <div class="form-control">
						            <div class="row">
					            		<div class="col-lg-12">
					            			<h6><small>שם המוצר</small></h6>
								            <div class="form-group input-group">
							                	<span class="input-group-addon"><i class="fa fa-archive fa-fw"></i></span>
												<input class="form-control" type="text" id="from_input_time" placeholder="שם המוצר" #inputProductName>
											</div>
					            		</div>
				            		</div>
				            		<div class="row">
					            		<div class="col-lg-6">
					            			<h6><small>איך אתה אורז את הסחורה ?</small></h6>
								            <div class="form-group input-group">
							                	<span class="input-group-addon"><i class="fa fa-dropbox fa-fw"></i></span>
								                <select class="form-control" #selectorCargoShippingOptions>
								                    <option [value]=1 selected="selected">משטחים</option>
								                    <option [value]=2>קונטיינר</option>
								                    <option [value]=3>שקים (באלות)</option>
								                    <option [value]=4>אחר</option>
								                </select>
								            </div>
					            		</div>
					            		<div class="col-lg-6">
					            			<h6><small>כמות יחידות</small></h6>
								            <div class="form-group input-group">
							                	<span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
												<input class="form-control" type="number" id="from_input_time" value="1" #inputProductsAmount>
											</div>
					            		</div>
				            		</div>
				            		<div *ngIf="selectorCargoShippingOptions.value == 4">
						            	<div class="row">
						            		<div class="col-lg-6">
						            			<h6><small>רוחב</small></h6>
									            <div class="form-group input-group">
								                	<span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
									                <select class="form-control" #selectorWidth>
									                    <option [value]=1 selected="selected">עד מטר</option>
									                    <option [value]=2>עד 2 מטר</option>
									                    <option [value]=3>עד 3 מטר</option>
									                    <option [value]=4>עד 4 מטר</option>
									                    <option [value]=5>עד 5 מטר</option>
									                    <option [value]=6>עד 6 מטר</option>
									                    <option [value]=7>עד 7 מטר</option>
									                    <option [value]=8>עד 8 מטר</option>
									                    <option [value]=9>יותר מ 8 מטר</option>
									                </select>
									            </div>
						            		</div>
						            		<div class="col-lg-6">
						            			<h6><small>גובה</small></h6>
									            <div class="form-group input-group">
								                	<span class="input-group-addon"><i class="fa fa-arrows-v fa-fw"></i></span>
									                <select class="form-control" #selectorHeight>
									                    <option [value]=1 selected="selected">עד מטר</option>
									                    <option [value]=2>עד 2 מטר</option>
									                    <option [value]=3>עד 3 מטר</option>
									                    <option [value]=4>עד 4 מטר</option>
									                    <option [value]=5>עד 5 מטר</option>
									                    <option [value]=6>עד 6 מטר</option>
									                    <option [value]=7>עד 7 מטר</option>
									                    <option [value]=8>עד 8 מטר</option>
									                    <option [value]=9>יותר מ 8 מטר</option>
									                </select>
									            </div>
						            		</div>
						            	</div>
						            	<div class="row">
						            		<div class="col-lg-6">
						            			<h6><small>אורך</small></h6>
									            <div class="form-group input-group">
								                	<span class="input-group-addon"><i class="fa fa-expand fa-fw"></i></span>
									                <select class="form-control" #selectorLength>
									                    <option [value]=1 selected="selected">עד מטר</option>
									                    <option [value]=2>עד 2 מטר</option>
									                    <option [value]=3>עד 3 מטר</option>
									                    <option [value]=4>עד 4 מטר</option>
									                    <option [value]=5>עד 5 מטר</option>
									                    <option [value]=6>עד 6 מטר</option>
									                    <option [value]=7>עד 7 מטר</option>
									                    <option [value]=8>עד 8 מטר</option>
									                    <option [value]=9>יותר מ 8 מטר</option>
									                </select>
									            </div>
						            		</div>
						            		<div class="col-lg-6">
						            			<h6><small>משקל</small></h6>
									            <div class="form-group input-group">
								                	<span class="input-group-addon"><i class="fa fa-exclamation-circle fa-fw"></i></span>
									                <select class="form-control" #selectorWeight>
									                    <option [value]=10 selected="selected">עד 10 קילו</option>
									                    <option [value]=20>עד 20 קילו</option>
									                    <option [value]=50>עד 50 קילו</option>
									                    <option [value]=200>עד 200 קילו</option>
									                    <option [value]=500>עד חצי טון</option>
									                    <option [value]=1000>עד טון</option>
									                    <option [value]=2000>עד 2 טון</option>
									                    <option [value]=5000>עד 5 טון</option>
									                    <option [value]=5001>יותר מ 5 טון</option>
									                </select>
									            </div>
						            		</div>
						            	</div>
				            		</div>
					            	
					            	<button type="submit" class="btn btn-secondary" (click)="addNewProduct()">הוסף מוצר</button>
					            </div>
					            
					            <br>
					            <h6>רשימת מוצרים ({{productsList.length}})</h6>
					            <div style="margin-bottom: 1rem;">
					            	<div *ngIf="productsList.length > 0">
					            		<div *ngFor="let productItem of productsList"id="product{{productsList.indexOf(productItem).toString()}}">
											<app-product-card [productItem]="productItem" [productsList]="productsList"></app-product-card>
					            		</div>
					            	</div>
					            	<div *ngIf="productsList.length == 0" class="form-control">
					            		<br>
					            		<h6><small>לא נמצאו מוצרים, נא להוסיף מוצר</small></h6>
					            		<br>
					            	</div>
					            </div>
					           </div>
					           <h6>הערות</h6>
					           <fieldset class="form-group">
					               <textarea class="form-control" rows="3" #inputAdditionalInfo placeholder="הערות כגון: גדלים ספציפיים של משטחים, האם שביר? האם החומרים מסוכנים ? האם צריך ציוד מיוחד ? או כל דרישה אחרת שאתה צריך..."></textarea>
					           </fieldset>
					           <br><br>
								<button type="submit" class="btn btn-secondary" (click)="steppers.back()">הקודם</button>
								<button type="submit" class="btn btn-success" (click)="finishStepThree()">הבא</button>
						</div>
					</div>
			       	
				</div>
		    </ngx-step-body>
		    <ngx-step-actions>
		    </ngx-step-actions>
		  </ngx-step>
		  <ngx-step [label]="'פרטי תשלום'">
		    <ngx-step-body>
		    	<div class="breadcrumb">
					<h4>פרטי תשלום למוביל</h4>
					<h6>באילו דרכים תוכל לשלם למוביל ?</h6>
					<br>
						<div class="row">
			           		<div class="col-lg-3">
					            <div class="checkbox">
			                        <label>
			                            <input type="checkbox" value="" #checkboxPaymentCash>&nbsp;<i class="fa fa-money fw"></i>&nbsp; מזומן 
			                        </label>
			                    </div>
			           		</div>
			           		<div class="col-lg-3">
					            <div class="checkbox">
			                        <label>
			                            <input type="checkbox" value="" #checkboxPaymentCredit>&nbsp;<i class="fa fa-credit-card fw chckedbg"></i>&nbsp; אשראי
			                        </label>
			                    </div>
			           		</div>
			           		<div class="col-lg-3">
					            <div class="checkbox">
			                        <label>
			                            <input type="checkbox" value="" #checkboxPaymentWire>&nbsp;<i class="fa fa-exchange fw chckedbg"></i>&nbsp; העברה בנקאית
			                        </label>
			                    </div>
			           		</div>
			           		<div class="col-lg-3">
					            <div class="checkbox">
			                        <label>
			                            <input type="checkbox" value="" #checkboxPaymentCheck>&nbsp;<i class="fa fa-id-card-o fw chckedbg"></i>&nbsp; צק
			                        </label>
			                    </div>
			           		</div>
			           	</div>
			        <br>
			      	<small>* חובה לבחור לפחות אחת מהאפשרויות</small>
			      	<div class="checkbox" *ngIf="isDevMode">
			      		<br><br>
                        <label>
                            <input type="checkbox" value="" #checkboxIsTestAccount>&nbsp;<i class="fa fa-exclamation-triangle fw"></i>&nbsp; מודעה זו היא בדיקה ולא תופיע במערכת 
                        </label>
                    </div>
			      	<br><br>
					<button type="submit" class="btn btn-secondary" (click)="steppers.back()">הקודם</button>
					<button type="submit" class="btn btn-primary" (click)="publishOrder()" [attr.disabled]="loading ? '' : null">פרסם מודעה</button> &nbsp; <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
				</div>
		    </ngx-step-body>
		    <ngx-step-actions>
		    </ngx-step-actions>
		  </ngx-step>
	  </ngx-stepper>
	</div>

	
    
    
	
	<app-footer-page></app-footer-page>
</div>
