<div [@routerTransition]>
	<h2 class="text-muted">{{ 'Create Order' | translate }}<br><small>{{ 'New Order' | translate }}</small></h2>
	<div class="jumbotron">
		<div class="container">
        	<h5>{{'Loading Details' | translate}}</h5>
        	<h6>שם בית העסק</h6>
        	<div class="form-group input-group">
               	<span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
				<input class="form-control" type="text" placeholder="שם בית העסק">
			</div>
			<h6>כתובת בית העסק</h6>
			<div class="form-group input-group" style="margin-bottom: 0px">
                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                <input placeholder="search for location" autocorrect="off"
					autocapitalize="off" spellcheck="off" type="text"
					class="form-control" #fromSearch [formControl]="searchControl" placeholder="{{'Search Location' | translate}}">
            </div>
       		<small><i class='fa fa-fw'></i>פורמט: [רחוב, עיר, ארץ]</small>
			<agm-map [latitude]="fromLatitude" [longitude]="fromLongitude" [scrollwheel]="false" [zoom]="fromZoom"> 
				<agm-marker [latitude]="fromLatitude" [longitude]="fromLongitude" [markerDraggable]="true" (dragEnd)="fromMarkerDragEnd($event)"></agm-marker>
			</agm-map>
			
			<br>
			<h6>תאריך העמסה</h6>
			<div>
				<input class="form-control" type="date">
            </div>
            
			<h6>שעת העמסה</h6>
			<div class="form-group">
				<input class="form-control" type="time" placeholder="שעה">
			</div>
       		<br>
        	<h4>פרטי פריקה</h4>
        	<h6>שם בית העסק</h6>
        	<div class="form-group input-group">
               	<span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
				<input class="form-control" type="text" placeholder="שם בית העסק">
			</div>
        	<h6>כתובת בית העסק</h6>
			<div class="form-group input-group" style="margin-bottom: 0px">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input placeholder="search for location" autocorrect="off"
					autocapitalize="off" spellcheck="off" type="text"
					class="form-control" #toSearch [formControl]="searchControl" placeholder="{{'Search Location' | translate}}">
            </div>
       		<small><i class='fa fa-fw'></i>פורמט: [רחוב, עיר, ארץ]</small>
			<agm-map [latitude]="toLatitude" [longitude]="toLongitude" [scrollwheel]="false" [zoom]="toZoom"> 
				<agm-marker [latitude]="toLatitude" [longitude]="toLongitude" [markerDraggable]="true" (dragEnd)="toMarkerDragEnd($event)"></agm-marker>
			</agm-map>
			
			<br>
			<h4>פרטי ההובלה</h4>
        	<h6>ביטוח</h6>
        	<div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-shield fa-fw"></i></span>
                <select class="form-control">
                    <option>ללא</option>
                    <option>עד 50 אלף שח</option>
                    <option>עד 100 אלף שח</option>
                    <option>עד 500 אלף שח</option>
                    <option>עד מליון</option>
                    <option>יותר ממליון</option>
                </select>
            </div>
            
            <h6>סוג פריקה</h6>
        	<div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-upload fa-fw"></i></span>
                <select class="form-control">
                    <option>עצמית</option>
                    <option>מלגזה</option>
                    <option>עגורן</option>
                    <option>מנוף</option>
                    <option>דלת הידראולית</option>
                    <option>ראמפה</option>
                </select>
            </div>
            
            <h6>סוג הזמנה</h6>
        	<div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-flag fa-fw"></i></span>
                <select class="form-control" #selectorOrderType>
                    <option [value]=0>הזמן לפי</option>
                    <option [value]=2>משאית</option>
                    <option [value]=1>מוצרים</option>
                </select>
            </div>
            
            <div *ngIf="selectorOrderType.value == 2">
            	<h6>סוג משאית</h6>
	        	<div class="form-group input-group">
                	<span class="input-group-addon"><i class="fa fa-truck fa-fw"></i></span>
	                <select class="form-control" #selectorOrderType>
	                    <option [value]=0>טריילר</option>
	                    <option [value]=1>פול</option>
	                    <option [value]=2>דאבל</option>
	                    <option [value]=2>סינגל</option>
	                </select>
	            </div>
	            <h6>סוג נגרר</h6>
	            <div class="form-group input-group">
                	<span class="input-group-addon"><i class="fa fa-caret-square-o-left fa-fw"></i></span>
	                <select class="form-control" #selectorOrderType>
	                    <option [value]=0>פלטה</option>
	                    <option [value]=1>הייבר</option>
	                    <option [value]=2>וילונות</option>
	                    <option [value]=2>קירור</option>
	                </select>
	            </div>
	            <h6>כמה משאיות ?</h6>
	            <div class="form-group input-group">
                	<span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
					<input class="form-control" type="number" id="from_input_time" value="1">
				</div>
            </div>
            
            <div *ngIf="selectorOrderType.value == 1">
            	<h6>הוספת מוצר</h6>
	            <div class="form-control">
	            	<div class="row">
	            		<div class="col-lg-6">
	            			<h6><small>שם המוצר</small></h6>
				            <div class="form-group input-group">
			                	<span class="input-group-addon"><i class="fa fa-archive fa-fw"></i></span>
								<input class="form-control" type="text" id="from_input_time" placeholder="מה אתה רוצה להעביר ?" #inputProductName>
							</div>
	            		</div>
	            		<div class="col-lg-6">
	            			<h6><small>כמות יחידות</small></h6>
				            <div class="form-group input-group">
			                	<span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
								<input class="form-control" type="number" id="from_input_time" placeholder="כמה יחידות ?" #inputProductsAmount>
							</div>
	            		</div>
	            	</div>
	            	<div class="row">
	            		<div class="col-lg-4">
				            <div class="checkbox">
		                        <label>
		                            <input type="checkbox" value="" #checkboxIsContainer> קונטיינר
		                        </label>
		                    </div>
	            		</div>
	            		<div class="col-lg-4">
				            <div class="checkbox">
		                        <label>
		                            <input type="checkbox" value="" #checkboxIsOnPallets> על משטחים
		                        </label>
		                    </div>
	            		</div>
	            		<div class="col-lg-4">
				            <div class="checkbox">
		                        <label>
		                            <input type="checkbox" value="" #checkboxIsFregile> שביר
		                        </label>
		                    </div>
	            		</div>
	            	</div>
	            	<div class="row">
	            		<div class="col-lg-6">
	            			<h6><small>רוחב</small></h6>
				            <div class="form-group input-group">
			                	<span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
				                <select class="form-control" #selectorWidth>
				                    <option [value]=1 selected="selected">עד מטר</option>
				                    <option [value]=2>עד 2 מטר</option>
				                    <option [value]=3>עד 3 מטר</option>
				                    <option [value]=4>עד 4 מטר</option>
				                    <option [value]=5>עד 5 מטר</option>
				                    <option [value]=6>עד 6 מטר</option>
				                    <option [value]=7>עד 7 מטר</option>
				                    <option [value]=8>עד 8 מטר</option>
				                    <option [value]=9>יותר מ 8 מטר</option>
				                </select>
				            </div>
	            		</div>
	            		<div class="col-lg-6">
	            			<h6><small>גובה</small></h6>
				            <div class="form-group input-group">
			                	<span class="input-group-addon"><i class="fa fa-arrows-v fa-fw"></i></span>
				                <select class="form-control" #selectorHeight>
				                    <option [value]=1 selected="selected">עד מטר</option>
				                    <option [value]=2>עד 2 מטר</option>
				                    <option [value]=3>עד 3 מטר</option>
				                    <option [value]=4>עד 4 מטר</option>
				                    <option [value]=5>עד 5 מטר</option>
				                    <option [value]=6>עד 6 מטר</option>
				                    <option [value]=7>עד 7 מטר</option>
				                    <option [value]=8>עד 8 מטר</option>
				                    <option [value]=9>יותר מ 8 מטר</option>
				                </select>
				            </div>
	            		</div>
	            	</div>
	            	<div class="row">
	            		<div class="col-lg-6">
	            			<h6><small>אורך</small></h6>
				            <div class="form-group input-group">
			                	<span class="input-group-addon"><i class="fa fa-expand fa-fw"></i></span>
				                <select class="form-control" #selectorLength (change)="onOrderTypeChanged(selectorOrderType.value)">
				                    <option [value]=1 selected="selected">עד מטר</option>
				                    <option [value]=2>עד 2 מטר</option>
				                    <option [value]=3>עד 3 מטר</option>
				                    <option [value]=4>עד 4 מטר</option>
				                    <option [value]=5>עד 5 מטר</option>
				                    <option [value]=6>עד 6 מטר</option>
				                    <option [value]=7>עד 7 מטר</option>
				                    <option [value]=8>עד 8 מטר</option>
				                    <option [value]=9>יותר מ 8 מטר</option>
				                </select>
				            </div>
	            		</div>
	            		<div class="col-lg-6">
	            			<h6><small>משקל</small></h6>
				            <div class="form-group input-group">
			                	<span class="input-group-addon"><i class="fa fa-exclamation-circle fa-fw"></i></span>
				                <select class="form-control" #selectorWeight (change)="onOrderTypeChanged(selectorOrderType.value)">
				                    <option [value]=10 selected="selected">עד 10 קילו</option>
				                    <option [value]=20>עד 20 קילו</option>
				                    <option [value]=50>עד 50 קילו</option>
				                    <option [value]=200>עד 200 קילו</option>
				                    <option [value]=500>עד חצי טון</option>
				                    <option [value]=1000>עד טון</option>
				                    <option [value]=2000>עד 2 טון</option>
				                    <option [value]=5000>עד 5 טון</option>
				                    <option [value]=5001>יותר מ 5 טון</option>
				                </select>
				            </div>
	            		</div>
	            	</div>
	            	
	            	<button type="submit" class="btn btn-secondary" (click)="addNewProduct()">הוסף מוצר</button>
	            </div>
	            
	            <br>
	            <h6>רשימת מוצרים ({{productsList.length}})</h6>
	            <div>
	            	<div *ngIf="productsList.length > 0">
	            		<div *ngFor="let productItem of productsList"id="product{{productsList.indexOf(productItem).toString()}}">
							<app-product-card [productItem]="productItem" [productsList]="productsList"></app-product-card>
	            		</div>
	            	</div>
	            	<div *ngIf="productsList.length == 0" class="form-control">
	            		<br>
	            		<h6><small>לא נמצאו מוצרים, נא להוסיף מוצר</small></h6>
	            		<br>
	            	</div>
	            </div>
            </div>
            
            
            
            <br>
            <h6>הערות</h6>
            <fieldset class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </fieldset>
            
            <button type="submit" class="btn btn-primary" (click)="publishOrder()">פרסם מודעה</button>
		</div>
		
    </div>
	<app-footer-page></app-footer-page>
</div>
