<div [@routerTransition] class="mh_container">

	<div class="background-image">
	</div>
	 <div class="container home-container">
	    <div class="row">
	        <div class="col-md-6 block" style="margin-bottom: 2rem;">
	            <div class="circle-green block">
	            	<div class="circle-white block" style="margin: 10px;" (click)="onCreateNewOrderClicked()">
		                <p>
		                	<span class="fa fa-dropbox fa-5x" style="color: #5cb85c;"></span>
		                	<br><br>
		                	צריך להעביר סחורה ?
		                	<br>
		                	<small>
		                		קבל הצעות מחיר ממובילים
		                	</small>
	                	</p>
	            	</div>
	            </div>
	        </div>
	        <div class="col-md-6 block" style="margin-bottom: 2rem;">
	            <div class="circle-blue block">
	            	<div class="circle-white block" style="margin: 10px;" (click)="onManagerRequestClicked()">
		                <p>
		                	<span class="fa fa-truck fa-5x" style="color: #0275d8;"></span>
		                	<br><br>
		                	אני מוביל סחורה
		                	<br>
		                	<small>
		                		מצא עבודות למשאיות שלך
		                	</small>
	                	</p>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="bottom-left-video">
		<div class="form-control" style="padding: .2rem;" *ngIf="showYoutubeOverlay">
			<div (click)="toggleOverlayVideo()">
				<div class="btn" style="padding: 0px;">
					<i class="fa fa-close fa-fw"></i> &nbsp;סגור 
				</div>
			</div>
	    	<iframe class="yt-video" src="https://www.youtube.com/embed/NkcI19t1wGc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	    </div>
	    <div class="form-control" *ngIf="!showYoutubeOverlay">
			<i class="fa fa-youtube fa-3x" (click)="toggleOverlayVideo()"></i>
	    </div>
    </div>
</div>

