<div [@routerTransition]>
	<h2 class="text-muted">תנאי שימוש</h2>
	<div class="container jumbotron">
		<p><strong><a [routerLink]="['/pp-page']">מעבר למדיניות פרטיות</a></strong></p>
		<p align="center" dir="RTL">
		    <strong><u>תנאי שימוש</u></strong>
		</p>
		<p align="center" dir="RTL">
		    <strong>גירסא 1.0</strong>
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong><u></u></strong>
		</p>
		<p align="center" dir="RTL">
		    <strong><u>בעת כניסתך לאתר אתה מצהיר כי הנך בן 18, לכל הפחות,</u></strong>
		</p>
		<p align="center" dir="RTL">
		    <strong><u>הגיל המינימלי המותר על מנת לגשת לאתר זה.</u></strong>
		    <u></u>
		</p>
		<p dir="RTL">
		    <strong>
		        <u>
		            אנא קראו מדיניות ותנאים אלו בקפידה שכן הגישה אל האתר והרעיון בו
		            מעידים על הסכמתך להם וכן לחיובים שיכול וינבעו ממנו כמפורט בסעיפים
		            10-11 להלן
		        </u>
		    </strong>
		    <strong>.</strong>
		</p>
		<p dir="RTL">
		    האתר שכתובתו Mevi.co.il הוא יצירה המוגנת בזכויות
		    יוצרים, השייכת ל- ש.ח.ק טימבר בע"מ (להלן: <strong>"החברה"</strong>)
		    מאפיינים מסוימים באתר עשויים להיות כפופים להנחיות, תנאים או כללים נוספים,
		    שיפורסמו באתר בקשר איתם. כל תנאים, הנחיות וכללים כאמור נכללים בתנאי שימוש
		    אלה על דרך ההפנייה.
		</p>
		<p dir="RTL">
		    <strong>"עוגיות" (</strong>
		    <strong>cookies</strong>
		    <strong>) ו"זרקורים" (</strong>
		    <strong>beacons</strong>
		    <strong>)</strong>
		</p>
		<p dir="RTL">
		    כמו כל אתר אחר, אתר זה עושה שימוש ב"עוגיות". ב"עוגיות" אלה נעשה שימוש על
		    מנת לאחסן מידע, לרבות לגבי העדפות המבקרים ודפי האתר שהם ניגשו אליהם או
		    ביקרו בהם. במידע זה נעשה שימוש על מנת ליצור חוויית משתמש אופטימלית, באמצעות
		    התאמה אישית של תוכן דף האינטרנט שלנו לפי סוג הדפדפן של המבקרים שלנו ו/או
		    מידע אחר.
		</p>
		<p dir="RTL">
		    תנאי שימוש אלה מפרטים את התנאים המחייבים מבחינה משפטית החלים לגבי השימוש
		    שלך באתר. בכך שאתה נכנס לאתר, אתה מאשר ומסכים לתנאים אלה ומציג מצג שיש לך
		    את הרצון, ההרשאה והסמכות להתקשר בהם. ככל שאתה לא מסכים לכל הוראות תנאים
		    אלה, עליך לא להיכנס לאתר ו/או לעשות בו שימוש.
		</p>
		<p dir="RTL">
		    סעיף 12 לתנאי שימוש אלה קובע את הדין וסמכות השיפוט, ליישוב מחלוקות, וכן
		    מגביל את אזור השיפוט ומועד הפניה למקור השיפוט העומדים לרשותך במקרה של
		    מחלוקת.
		</p>
		<p dir="RTL">
		    <strong>
		        תנאי שימוש אלו מנוסחים בלשון זכר לצרכי נוחות בלבד, אולם הם מתייחסים
		        כמובן אל כלל המגדרים.
		    </strong>
		</p>
		<p dir="RTL">
		    1. <strong>חשבונות</strong>
		</p>
		<p dir="RTL">
		    × <strong>יצירת חשבון.</strong> על מנת לעשות שימוש באתר, עליך לפתוח חשבון
		    ולמסור מידע על עצמך. אתה מתחייב כמפורט להלן: (1) כל המידע שאתה מוסר במסגרת
		    הרישום הוא אמתי, מעודכן ומדויק; (2) אתה תשמור על דיוקו של המידע כאמור. אתה
		    רשאי למחוק את החשבון שלך בכל עת, בכך שתיצמד ותמלא אחר כל ההוראות שבאתר.
		    החברה תהיה רשאית להקפיא או לבטל את החשבון שלך בכל רגע בהתאם למדיניות
		    הפרטיות ותנאי שימוש אלו.
		</p>
		<p dir="RTL">
		    <strong>× </strong>
		    <strong>אחריות בקשר לחשבון.</strong>
		    אתה תהיה אחראי לשמור על סודיות שם המשתמש והסיסמא שלך לחשבון, ותישא באחריות
		    המלאה לכל הפעילות שתתבצע בחשבון שלך. אתה מאשר שתודיע לחברה מיד על כל שימוש
		    או חשש לשימוש בלתי מורשה בחשבון.
		    <strong>
		        החברה לא יכולה להיות ולא תהיה אחראית לכל הפסד או נזק שינבעו מאי עמידה
		        על ידך בדרישות שלעיל ולהלן, ולא תחוב בשל כך.
		    </strong>
		    <strong></strong>
		</p>
		<p dir="RTL">
		    2. <strong>הגישה לאתר</strong>
		</p>
		<p dir="RTL">
		    א. בכפוף לתנאים לעיל ולהלן, החברה נותנת לך רישיון בלתי ניתן להעברה, לא
		    בלעדי, ניתן לביטול ומוגבל לגישה לאתר, רק לצורך שימוש אישי לטובת הפעולות
		    המותרות בהתאם לפעילות האתר ולא לכל פעולה מסחרית שלך.
		</p>
		<p dir="RTL">
		    ב. <strong>מגבלות מסויימות. </strong>הזכויות שמאושרות לך בתנאי שימוש אלה
		    כפופות לכל המגבלות שלהלן: (1) אתה לא תמכור, תשכיר, תעביר, תמחה, תפיץ או
		    תארח את האתר, או תנצל בדרך אחרת; (2) אתה לא תשנה כל חלק מן האתר, לא תעשה
		    ממנו כל יצירה נגזרת, ולא תבצע בו כל שחזור לשפת סף, היפוך הידור או הנדסה
		    מהופכת; (3) אתה לא תיגש לאתר על מנת לבנות אתר אינטרנט דומה או מתחרה; (4)
		    למעט הקבוע במפורש בתנאי שימוש אלה, אין להעתיק, להפיץ, לפרסם מחדש, להוריד,
		    להציג, או להעביר ו/או לעשות כל שימוש מכל חלק מאתר זה, בכל צורה ובכל דרך
		    שהיא. וכל גירסא, עדכון או תוספת אחרת למאפייני האתר יהיו כפופים לתנאי שימוש
		    אלה. כל זכויות יוצרים והודעות קנייניות אחרות באתר זה ישמרו בכל עותק שלו.
		</p>
		<p dir="RTL">
		    ג. החברה שומרת לעצמה את הזכות לשנות, להקפיא ו/או לסגור את האתר, עם או בלי
		    הודעה לך. אתה מאשר שהחברה לא תחוב כלפיך בגין כל שינוי באתר או בכל חלק ממנו,
		    ותמנע מכל הפרעה להם ו/או סגירה שלהם.
		</p>
		<p dir="RTL">
		    ד. <strong>היעדר תמיכה או תחזוקה. </strong>אתה יודע מצהיר ומסכים שעל החברה
		    לא תחול כל חובה לספק לך כל תמיכה בקשר עם האתר.
		</p>
		<p dir="RTL">
		    ה. אתה מודע לכך שלמעט כל תוכן אישי שתספק עם כניסתך לאתר, כל זכויות הקניין
		    הרוחני, לרבות זכויות יוצרים, פטנטים, סימני מסחר וסודות מסחריים באתר ובתוכנו
		    הם בבעלותה של החברה או של ספקיה. שים לה שתנאי שימוש אלה והגישה שלך לאתר
		    אינם מקנים לך כל זכות בכל זכויות הקניין הרוחני, למעט זכות מוגבלת לגישה,
		    כאמור בס' 2.א. לעיל, החברה והספקים שלה שומרים לעצמם כל זכות שאינה מוקנית
		    בתנאי שימוש אלה.
		</p>
		<p dir="RTL">
		    3. <strong>שם משתמש וסיסמא</strong><strong></strong>
		</p>
		<p dir="RTL">
		    יכול ופעילויות ומדורים באתר זה יהיו מוגבלים לשימושם של נרשמים מסוימים בלבד,
		    אשר יעמדו בתנאים הנדרשים, או לשימושם של אחרים כפי שיקבע מעת לעת לפי שיקול
		    דעתה המוחלט של החברה. השימוש בפעילויות ו/או מדורים אלו יהיו מותנים בקבלת שם
		    משתמש וסיסמא.
		</p>
		<p dir="RTL">
		    4. <strong>תוכן משתמשים</strong>
		</p>
		<p dir="RTL">
		    א. <strong> </strong>"<strong>תוכן המשתמשים</strong>" – כל מידע ותוכן
		    שמשתמש מעלה לאתר. אתה אחראי, באופן בלעדי, לכל תוכן המשתמשים שלך. אתה נושא
		    בכל הסיכונים הכרוכים בהעלאת ושימוש בתוכן המשתמשים שלך. אתה מאשר בזאת כי
		    תוכן המשתמשים שלך אינו מפר את תנאי השימוש ומדיניות הפרטיות והשימוש הנאות
		    שלנו. אתה לא תציג מצג כלפי אחרים או תבצע כל פעולה שממנה ישתמע ו/או משתמע
		    שתוכן המשתמשים שלך מסופק, נתמך או מומלץ על ידי החברה, בכל דרך שהיא. מאחר
		    שרק אתה אחראי לתוכן המשתמשים שלך, אתה עשוי לחשוף את עצמך ו/או את החברה
		    מטעמך לחבות ולאחריות אישית, החברה ואתר זה אינם חייבים לגבות כל תוכן ו/או
		    מידע מתוכן המשתמשים שתפרסם; כמו כן, תוכן המשתמשים שלך עשוי להימחק בכל עת,
		    ללא כל הודעה מראש לך. אתה אחראי, באופן בלעדי, לערוך עותקי גיבוי של תוכן
		    המשתמשים שלך, ככל שתחפוץ בכך.
		</p>
		<p dir="RTL">
		    ב. אתה נותן בזאת לחברה רשות בלתי חוזרת, להעתיק את תוכן המשתמשים שלך, להפיץ,
		להציגו בציבור המשתמשים האחרים, ולעשות בו כל שימוש ולנצלו בכל דרך אחרת    <u>לצורך הכללת תוכן המשתמשים שלך באתר</u> ולטובת הפעילות הכרוכה בו. אתה
		    מוותר ומסתלק בזאת מראש ובאופן בלתי חוזר על כל תביעה לכל זכות מוסרית או
		    ייחוס ביחס לתוכן משתמשים שלך, ועל כל טענה כזו ו/או אחרת בקשר לכך.
		</p>
		<p dir="RTL">
		ג. <strong>מדיניות שימוש נאות. </strong>התנאים שלהלן מהווים את "    <strong>מדיניות השימוש הנאות</strong>" שלנו:
		</p>
		<p dir="RTL">
		    1. אתה מסכים שלא לעשות שימוש באתר לצורך איסוף, העלאה, העברה, הצגה או הפצה
		    של כל תוכן משתמשים, שחל לגביו אחד מאלה: (1) הוא מפר כל זכות, קניין רוחני או
		    זכות קניינית של צד שלישי; (2) הוא לא חוקי, מטריד, פוגעני, מעוול, מאיים,
		    מזיק, פוגע בפרטיות של אחר, המוני, מהווה לשון הרע, כוזב, מטעה במתכוון, מהווה
		    דיבה מסחרית, פורנוגרפי, מתועב, מקדם גזענות, אי סובלנות, שנאה או פגיעה פיסית
		    מכל סוג שהוא כנגד כל קבוצה או יחיד; (3) הוא פוגע בקטינים בכל דרך שהיא; (4)
		    הוא מפר כל חוק או תקנה, כל התחייבות, או כל הגבלה שהוטלה על ידי כל צד שלישי
		    (5) הוא נוגד כל חוק ו/או דין ו/או הוראה ו/או תקנה מדיני מדינת ישראל.
		</p>
		<p dir="RTL">
		    2. כמו כן, אתה מסכים לא לבצע אף אחד מאלה: (1) להעלות, להעביר או להפיץ לאתר
		    או באמצעותו, כל תוכנה שמטרתה להזיק לכל מערכת מחשבים או לכל מידע או נתונים,
		    או לשנות אותם; (2) לשלוח באמצעות האתר כל פרסום, חומרי קידום מכירות, דואר
		    זבל, מכתבי שרשרת או משחקי פירמידה בלתי מורשים או שנשלחו לנמען מבלי שביקש
		    לקבלם, או כל סוג אחר של הודעות מרובות או שנשלחו לנמען מבלי שביקש לקבלם; (3)
		    להשתמש באתר על מנת לקצור, לאסוף או לצבור מידע או נתונים לגבי משתמשים אחרים,
		    ללא הסכמתם; (4) להפריע לשרתים או לרשות המחוברים לאתר או לשבש את פעולתם, או
		    ליצור עומס יתר עליהם, או להפר את התקנות, המדיניות או הנהלים של רשתות כאמור;
		    (5) לנסות לגשת באופן בלתי מורשה לאתר, בין באמצעות כריית סיסמאות או בדרך
		    אחרת; (6) להטריד ו/או לנצל כל משתמש אחר המשתמש באתר ולהפריע להם; (7) לעשות
		    שימוש בתוכנות או בסוכנים או סקריפטים אוטומטים על מנת ליצור חשבונות מרובים
		    באתר, או להפיק חיפושים, בקשות או שאילתות אוטומטיים לאתר.
		</p>
		<p dir="RTL">
		    3. אנו שומרים לעצמנו את הזכות לבחון כל תוכן משתמשים, ולערוך בירור או חקירה
		    ו/או לנקוט בצעדים מתאימים כנגדך, על פי שיקול דעתנו הבלעדי, ככל שתפר את
		    מדיניות השימוש הנאות ו/או מדיניות הפרטיות ו/או כל הוראה אחרת בתנאי שימוש
		    אלה, או ככל שתיצור חבות, בדרך אחרת, לנו או לכל אדם אחר. צעדים כאמור הינם
		    לרבות הסרה ו/או שינוי של תוכן המשתמשים שלך, ביטול החשבון שלך בהתאם לס' 8
		    להלן ו/או דיווח עליך לרשויות אכיפת החוק.
		</p>
		<p dir="RTL">
		    4. ככל שתמסור לחברה כל משוב או הצעה לגבי האתר, אתה ממחה בזאת לחברה את כל
		    הזכויות במשוב כאמור, ומסכים שלחברה תהיה הזכות לעשות שימוש ולנצל באופן מלא
		    משוב כאמור ומידע שקשור אליו, באופן שיראה לה לנכון. החברה תראה כל משוב
		    שתמסור לחברה כלא סודי וכלא קנייני.
		</p>
		<p dir="RTL">
		    5. אתה מסכים לשפות את החברה ואת נושאי המשרה, העובדים והשלוחים שלה ולהסיר את
		    חבותם, לרבות הוצאות משפט ושכ"ט עו"ד, בשל כל תביעה ו/או דרישה מצד כל צד
		    שלישי בגין או כנובע מאחד מאלה: (א) השימוש שלך באתר; (ב) הפרה שלך של תנאי
		    שימוש אלה ו/או מדיניות הפרטיות; (ג) הפרה על ידך של החוקים או התקנות החלים;
		    (ד) תוכן המשתמשים שלך. החברה שומרת לעצמה את הזכות לקחת על עצמה את ההגנה
		    הבלעדית והשליטה בכל עניין שלגביו אתה נדרש לשפות אותנו, ואתה מסכים לשתף
		    פעולה עם ההגנה שלנו במסגרת כל תביעות כאמור. אתה מסכים שלא להתקשר בכל פשרה
		    בנוגע לכל עניין, ללא אישורה, מראש ובכתב, של החברה. החברה תעשה מאמץ סביר על
		    מנת להודיע לך על כל תביעה, תובענה או הליך כאמור, משיודע לה עליהם.
		</p>
		<p dir="RTL">
		6. <strong>לינקים/קישורים ופרסומות של צדדים שלישיים</strong>    <strong>;</strong><strong> משתמשים אחרים</strong>
		</p>
		<p dir="RTL">
		    א. <strong>לינקים ופרסומות של צדדים שלישיים.</strong> אתר זה עשוי לכלול
		    לינקים לאתרים ולשירותים של צדדים שלישיים, ו/או להציג פרסומות עבור צדדים
		    שלישיים. לינקים ופרסומות של צדדים שלישיים כאמור אינם בשליטתה של החברה,
		    והחברה אינה אחראית לקישורים/ לינקים ופרסומות של צדדים שלישיים. החברה נותנת
		    גישה ללינקים ולפרסומות של צדדים שלישיים כאמור רק לנוחותך, ואינה בוחנת או
		    מאשרת אותם, אינה מפקחת או ממליצה עליהם, ואינה תומכת בהם ו/או נותנת אחריות
		    ו/או מציגה כל מצג לגביהם. אתה תעשה שימוש בכל לינקים ופרסומות של צדדים
		    שליישיים על אחריותך, ועליך להפעיל רמת זהירות ושיקול דעת מתאימים בעשותך כן.
		    בהקליקך על כל קישור/לינקים ופרסומות של צדדים שלישיים, התנאים והמדיניות של
		    הצד השלישי הרלוונטי יחולו לגביך, לרבות נוהגי ונהלי הפרטיות ואיסוף המידע
		    שלו.
		</p>
		<p dir="RTL">
		    ב. <strong>משתמשים אחרים.</strong> כל משתמש באתר אחראי, באופן בלעדי, לכל
		    תוכן המשתמשים שלו. מאחר שאין לנו שליטה על התוכן של משתמשים, אתה מאשר מצהיר
		    ומסכים שלא נהיה אחראים לכל תוכן של משתמשים, בין אם נמסר על ידך או על ידי
		    אחרים. אתה מצהיר ומסכים שהחברה לא תהיה אחראית לכל הפסד, אובדן ו/או נזק
		    שיגרמו כתוצאה מכל אינטראקציה כאמור. ככל שתתגלע מחלוקת בינך לבין כל משתמש
		    באתר, לא תחול עלינו כל אחריות ו/או חובה ולא נהיה מעורבים בעניין.
		</p>
		<p dir="RTL">
		    ג. אתה משחרר ופוטר בזאת את החברה ואת נושאי המשרה, העובדים, השלוחים והנמחים
		    שלנו, ואת כל מי שיבוא במקומנו, וזאת ללא הגבלת זמן, מכל מחלוקת ו/או תביעה
		    ו/או דרישה ו/או זכות ו/או חובה ו/או חבות ו/או תובענה ו/או עילת תביעה מכל
		    סוג שהוא, מן העבר, ההווה או העתיד, שנבעה, נובעת, או תנבע, מן האתר ו/או בכל
		    קשר אליו, במישרין או בעקיפין, ואתה מוותר בזאת עליהן.
		</p>
		<p dir="RTL">
		    7. <strong>מיאון אחריות</strong>
		</p>
		<p dir="RTL">
		    אתר זה מסופק כמות שהוא “as-is”, וכפי זמינותו "as available", והחברה והספקים
		    שלנו מתנערים בזאת מכל אחריות ותנאים מכל סוג שהוא, מפורשים, משתמעים
		    וסטטוטוריים, לרבות כל אחריות או תנאים ביחס לסחירות, התאמה למטרה מסויימת,
		    זכויות, ניצול ללא הפרעה, דיוק או אי הפרה. אנחנו והספקים שלנו איננו מתחייבים
		    שהאתר יספק את כל מה שנדרש לך, או שיהיה זמין ללא הפרעה, יספק שירות בזמן,
		    יהיה מאובטח או נטול שגיאות, כמו כן אינינו מתחייבים כי האתר יהיה מדויק,
		    אמין, נקי מווירוסים או כל קוד מזיק אחר, מלא, חוקי או בטוח. ככל שהדין החל
		    דורש כל אחריות ביחס לאתר, כל אחריות כאמור תוגבל לתקופה של 90 ימים ממועד
		    השימוש הראשון.
		</p>
		<p dir="RTL">
		    ככל ואזורי שיפוט מסוימים אינם מתירים החרגת אחריות משתמעת אזי ההחרגה שלעיל
		    עשויה שלא לחול לגביך. ככל ואזורי שיפוט מסוימים אינם מתירים הגבלה על משך
		    הזמן של אחריות משתמעת אזי ההגבלה שלעיל עשויה שלא לחול לגביך.
		</p>
		<p dir="RTL">
		    <strong>החברה עושה כל מאמץ לשמור על תקינות פעילותו של האתר</strong>
		    . יחד עם זאת אינה מתחייבת שהשימוש לא יופרע ו/או יינתן כסדרו או בלא הפסקות,
		    יתקיים בבטחה וללא טעויות, ויהיה חסין מכל גישה בלתי מורשית או נזקים, תקלות
		    או כשלים בחומרה ו/או בתוכנה ו/או במערכות התקשורת וכאמור לעיל.
		</p>
		<p dir="RTL">
		    8. <strong>הגבלת אחריות</strong>
		</p>
		<p dir="RTL">
		    החברה או הספקים שלנו לא יהיו אחראים ולא יחובו כלפיך או כלפי כל צד שלישי
		    בגין כל אובדן רווחים, אובדן נתונים, עלויות רכש של מוצרים חלופיים, או כל
		    נזקים או פיצויים עקיפים, תוצאתיים, לדוגמא, אגביים, מיוחדים או עונשיים
		    הנובעים מתנאי שימוש אלה או בקשר אליהם, או אי יכולת לעשות שימוש באתר, אף אם
		    הודע לחברה על האפשרות לנזקים או פיצויים כאמור. הגישה לאתר והשימוש בו הם על
		    פי שיקול דעתך ועל אחריותך, ואתה תהיה אחראי, באופן בלעדי, לכל נזק למכשיר או
		    למערכת המחשב שלך, או לאובדן נתונים כתוצאה מכך.
		</p>
		<p dir="RTL">
		    במידה המירבית המותרת על פי דין, ועל אף כל הוראה סותרת בתנאי שימוש אלה,
		    האחריות והחבות שלנו בשל נזקים הנובעים מהסכם זה ובקשר אליו, יוגבלו, בכל עת,
		    לסך מרבי של 250 ₪. קיומה של יותר מתביעה אחת לא תגדיל גבול זה. אתה מסכים
		    שלאתר שלנו ו/או לספקים שלנו לא יהיו כל אחריות או חבות שינבעו מהסכם זה או
		    בקשר אליו.
		</p>
		<p dir="RTL">
		    ככל ואזורי שיפוט מסוימים אינם מתירים הגבלת או החרגת אחריות לגבי נזקים
		    אגביים או תוצאתיים אזי ההגבלה או ההחרגה שלעיל עשוייה שלא לחול לגביך.
		</p>
		<p dir="RTL">
		    × המונח “שירותים” מתייחס לכל שירות שהאתר מציע ו/או יציע בפלטפורמה ובכלל,
		    ובעיקרם שירותי תיווך לצורך ביצוע עסקה. השירותים יינתנו על ידי החברה או מי
		    מטעמה בעוד החברה תשמש כ“מתווכת” בלבד למתן שירותים לביצוע עסקה בין מזמין מצד
		    אחד לספק שירות מהצד השני.
		</p>
		<p dir="RTL">
		    <strong>× </strong>
		    <strong>
		        <u>
		            למען הסר כל ספק, הפלטפורמה ביסודה מספקת שירותי "תיווך" בלבד, למתן
		            שירותים עבור המשתמשים באתר, ולטובת תיווך לביצוע עסקה בין המזמין
		            לספק השירות הנבחר הכל כמפורט בתנאי שימוש אלו.
		        </u>
		    </strong>
		    <strong><u></u></strong>
		</p>
		<p dir="RTL">
		    × ידוע למשתמשים, המזמין ו/או ספק השירות ו/או כל משתמש אחר, כי האתר מסתמך על
		    המצגים כפי שהוצגו לו על ידם על הצהרותיהם בדבר יכולותיהם המקצועיות, רישיונות
		    ביצוע ומתן שירותים, עמידה בזמנים ועמידה בכל דין בקשר למתן השירותים וידוע
		    להם כי החברה לא בדקה את יכולותיהם הכספיות, את ספק השירות ו/או המזמין ו/או
		    כל משתמש אחר, וכי המשתמשים הינם ישות עצמאית ועל כן היא אינה אחראית בקשר
		    למצגים ו/או להצעות ו/או לכל תוכן משתמשים אחר כאמור לרבות התשלומים שיועברו
		    בין הצדדים, המזמין וספק השירות, ככל ויעברו ו/או להתחייבויות לביצוע תשלום
		    כלשהו.
		</p>
		<p dir="RTL">
		    × על המשתמש האחריות הבלעדית לבחון ולבצע בדיקות של נותן ו/או מקבל השירות מכל
		    בחינה שהיא בטרם נתינה ו/או קבלת השירותים ממנו וכן את כדאיות העסקה בכלל
		    לרבות ביצוע התשלום ו/או השירות בפועל.
		</p>
		<p dir="RTL">
		    <strong>× </strong>
		    <strong>
		        <u>
		            ידוע למשתמשים כי החברה אינה יודעת ואינה יכולה לדעת בדבר מימוש העסקה
		            בפועל מלבד המדווח לה על ידי המשתמשים עצמם ואינה נושאת באחריות כלשהי
		            בגין התשלומים ו/או השירותים אשר יועברו ו/או יינתנו במסגרת שיח ו/או
		            עסקה כלשהי בין המשתמשים עצמם כתוצאה מן השירותים הניתנים באתר.
		        </u>
		    </strong>
		    <strong><u></u></strong>
		</p>
		<p dir="RTL">
		    × התשלומים היחידים הידועים והניתנים לחברה במסגרת ביצוע עסקה כלשהי באתר הינם
		    כקבוע בסעיף 11 שלהלן והינם חלים על ספק השירות בלבד ולא על המזמין. כמו כן
		    אופן ביטול עסקה ביחס לתשלום כאמור הינו מפורט וקבוע בסעיף 12 שלהלן.
		</p>
		<p dir="RTL">
		    <strong>× </strong>
		    <strong>
		        <u>
		            לאחר אישור העסקה על ידי המשתמשים, לא יבואו המשתמשים בטענות ו/או
		            תביעות ו/או בקשות ו/או כל סוג של טענה אחרת לרבות החזר כספי כלפי
		            החברה, מלבד הקבוע ומוסכם במפורש בתנאי שימוש אלו.
		        </u>
		    </strong>
		    <strong><u></u></strong>
		</p>
		<p dir="RTL">
		    <strong>× </strong>
		    <strong>
		        <u>
		            החברה אינה חבה כלפי המזמין בשום צורה שהיא לרבות לספק את השירות אשר
		            לו התחייב ספק השירות ו/או להשיב לו את התשלום אותו שילם, ככל ושילם,
		            בעת אישור העסקה ביניהם ומכאן אינה נושאת בכל אחריות כלפיו שאינה
		            קבועה במפורש בתנאי שימוש אלו.
		        </u>
		    </strong>
		</p>
		<p dir="RTL">
		    9. <strong>תקופת ההסכם וסיומו. </strong>בכפוף לסעיף זה, תנאי שימוש אלה
		    יישארו בתוקפם המלא בכל עת בה תעשה שימוש באתר ו/או כל עוד אתה מנוי בו. אנו
		    נהיה רשאים להקפיא או לבטל את זכותך לעשות שימוש באתר, בכל עת, מכל סיבה שהיא,
		    על פי שיקול דעתנו הבלעדי, לרבות בשל שימוש באתר תוך הפרה של תנאי שימוש אלה.
		    בביטול זכויותיך על פי תנאי שימוש אלה, החשבון שלך וזכותך לגשת לאתר ולעשות בו
		    שימוש יבוטלו ויסתיימו באופן מיידי. אתה מבין שכל ביטול של החשבון שלך עשוי
		    לכלול מחיקה ממאגרי המידע החיים שלנו של תוכן המשתמשים שלך שקשור לחשבון שלך.
		    לחברה לא יהיו כל אחריות או חבות שהן כלפיך בשל כל ביטול של זכויותיך על פי
		    תנאי שימוש אלה. גם לאחר שזכויותיך על פי תנאי שימוש אלה יבוטלו, ההוראות
		    שלהלן בתנאי שימוש אלה ישארו בתוקפן: ס' 2א' – 2ה', ס' 3, ס' 4-17.
		</p>
		<p dir="RTL">
		    10. <strong>מהות השירות באתר</strong><strong></strong>
		</p>
		<p>
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>ý </strong>
		    <strong>
		        <u>
		            בעת רישומך לאתר החברה נתת הסכמתך והצהרתך כי לא תבצע כל עסקה, בעקבות
		            מידע לו נחשפת באתר החברה, שלא באמצעות האתר עצמו.
		        </u>
		    </strong>
		    <strong><u></u></strong>
		</p>
		<p dir="RTL">
		    החברה מאפשרת למבקריה, לאחר ביצוע ההרשמה למערכת האישית ומסירת הפרטים המזהים,
		    ביצוע של שירותים שונים בין השאר בקשות לקיומה של עסקה ו/או מנגד הצעות מחיר
		    לביצוע עסקה .
		</p>
		<p dir="RTL">
		    יובהר כי רק לאחר שמתבצע האישור לקיומה של עסקה, בחירת הספק הנבחר על ידי
		    המזמין, ורק לאחר שספק השרות מזין את פרטי כרטיס האשראי שלו, מוצגים לצדדים
		    הרלוונטיים לעסקה, המזמין ומבצע העסקה הנבחר/ספק השירות, פרטיהם המזהים כפי
		    שהוזנו על ידם בעת ההרשמה.
		</p>
		<p dir="RTL">
		    רשאי להשתתף בשירותים ובעסקאות המוצעות כל תושב ישראל, אשר מלאו לו 18 שנים
		    וברשותו כרטיס אשראי בתוקף, שהונפק בישראל על ידי אחת מחברות כרטיסי האשראי
		    ו/או יאושר על ידי חברת האשראי.
		</p>
		<p dir="RTL">
		    החברה רשאית למנוע ממך מלהשתתף בעסקאות ו/או בהצעות המחיר ו/או בבקשות לקבל
		    הצעות על פי שיקול דעתה הבלעדי בהתאם לתנאי השימוש ומדיניות הפרטיות וכן מבלי
		    לגרוע מהאמור לעיל בכל אחד מהמקרים הבאים:
		</p>
		<p dir="RTL">
		    × אם ביצעת ו/או אתה מתכוון לבצע מעשה בלתי חוקי ו/או עברת על הוראות הדין
		    ו/או הפרת תנאי מתנאי תקנון החברה.
		</p>
		<p dir="RTL">
		    × אם מסרת במתכוון פרטים שגויים בעת ביצוע העסקה או בעת ההרשמה.
		</p>
		<p dir="RTL">
		    × אם ביצעת ו/או אתה מתכוון לבצע מעשה או מחדל שיש בו כדי לפגוע בפעילות
		    התקינה של החברה ו/או מי מטעמה לרבות צד שלישי כלשהו.
		</p>
		<p dir="RTL">
		    × אם כרטיס האשראי שברשותך אינו בר חיוב.
		</p>
		<p dir="RTL">
		    × אם מסרת בעבר מידע שגוי ו/או שקרי על מימוש ו/או ביצוע עסקה דרך אתר החברה.
		</p>
		<p dir="RTL">
		    × כל סיבה אחרת הנובעת מתנאי השימוש ו/או מדיניות הפרטיות של החברה.
		</p>
		<p dir="RTL">
		    11. <strong>חיוב בגין מימוש עסקה </strong>
		</p>
		<p dir="RTL">
		    <strong>
		        <u>
		            ידוע ומוסכם על ספק השירות, מבצע העסקה הנבחר, כי לאחר 24 שעות ממועד
		            אישור העסקה והעברת הפרטים המזהים לצדדים הוא יחויב בעמלת שירות לטובת
		            החברה בגובה של 8% מסך התמורה שנקבעה לביצוע העסקה על ידי הצדדים.
		        </u>
		    </strong>
		    <u></u>
		</p>
		<p dir="RTL">
		    לטובת חיוב זה מצהיר ומסכים ספק השירות כי החברה רשאית, 24 שעות לאחר שאושרה
		    העסקה על ידי מי מהצדדים, לבצע שימוש בפרטיו האישיים כפי שהוזנו לרבות פרטי
		    כרטיס האשראי.
		</p>
		<p dir="RTL">
		    12. <strong><u>ביטול עסקה</u></strong><strong><u></u></strong>
		</p>
		<p dir="RTL">
		    <strong>
		        ככל ולא בוצעה העסקה ו/או לא מומשה על ידי מי מהצדדים ו/או מי מטעמם בתוך
		        24 השעות הראשונות, כאמור בסעיף 11 לעיל, או ככל וידוע למי מהצדדים בתוך
		        24 השעות הראשונות מאישור העסקה כי עסקה זו לא תמומש, ביטול העסקה יעשה
		        באמצעות פניה והצהרה בכתב בלבד, באזור המיועד לכך באתר החברה ובאזור צור
		        קשר באתר החברה בטופס המיועד לכך, תוך הזנת סיבת הביטול, הגורם המבטל
		        והתחייבות לאי מימוש/ביצוע העסקה בעבר, בהווה ובעתיד ללא מתן הודעה על כך
		        לחברה, וזאת לטובת ביצוע החיוב בגין השירות ככל ותמומש העסקה.
		    </strong>
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>
		        ככל והעסקה לא מומשה על ידי ספק השרות לאחר ביצוע החיוב על ידי החברה,
		        קרי, לאחר 24 השעות הראשונות ממועד אישור העסקה, וספק השרות לא יכול היה
		לדעת כי עסקה זו לא תמומש, במועד הנקוב לעיל, על ספק השרות והמזמין לתת        <u>יחד</u> הצהרה והודעה על כך בכתב באופן האמור לעיל לרבות הפרטים
		        הנדרשים לכך. ההחזר הכספי יעשה
		    </strong>
		    <strong>
		        בהתאם להוראות חוק הגנת הצרכן, התשמ"א - 1981 והתקנות שהותקנו על פי
		    </strong>
		    <strong>ו, ככל ויידרש על פי החוק.</strong>
		    <strong> </strong>
		    <strong> </strong>
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>
		        ידוע לספק השירות, מבצע העסקה הנבחר, כי ככל ויתברר לחברה כי הצהיר הצהרת
		        שקר וכי אכן מומשה העסקה על ידו ו/או מי מטעמו, תודיע לו החברה על כך,
		        ימחקו לאלתר פרטיו המזהים ולא יתאפשר לו לבצע כל פעולה, בהווה ובעתיד,
		        באתר החברה. כמו כן יחויב כרטיסו באופן מידי בעמלת השירות הנקובה לעיל
		        וזאת ללא כל ויתור על כל סעד ו/או תרופה אחרת הקבועה בדין ויכול ותתבקש על
		        ידי החברה.
		    </strong>
		</p>
		<p dir="RTL">
		    <strong> </strong>
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    13. <strong>החברה רשאית לבטל את העסקה </strong><strong></strong>
		</p>
		<p dir="RTL">
		    החברה תהיה רשאית לבטל את העסקה בין הצדדים מבלי שתהיה חשופה לכל תביעה ו/או
		    דרישה ו/או טענה ו/או ביקורת ו/או אחר, וזאת מבלי לפגוע בזכותה לבטל ו/או
		    למחוק ו/או להסיר כל תוכן ו/או זהות ו/או פרטים על פי תנאי השימוש ומדיניות
		    הפרטיות, במקרים הבאים:
		</p>
		<p dir="RTL">
		    × אם יתברר לה שנפלה טעות סופר או טעות טכנית חריגה בהצגת הפרטים העלולה לפגום
		    בהליך העסקה.
		</p>
		<p dir="RTL">
		    × במקרים בהם קרתה תקלת תקשורת ו/או בעיה טכנית אחרת שפגמה בהליך עצמו.
		</p>
		<p dir="RTL">
		    × אם ייוודע לה כי חלה במהלך המכירה פעילות שאינה חוקית מצד גורם כלשהו.
		</p>
		<p dir="RTL">
		    × במקרים של כוח עליון המונעים את המשך העסקה ו/או ניהולה באופן תקין.
		</p>
		<p dir="RTL">
		    החברה תפרסם הודעה על ביטול העסקה בדף העסקה בטרם סגירת עסקה ו/או תשלח הודעה
		    על ביטולה למזמינים ולספקי השרות בדוא"ל שמסרו בעת רישומם לאתר החברה.
		</p>
		<p dir="RTL">
		    במקרה של ביטול העסקה כאמור באחד מסעיפים 12-13 לעיל לא תהא למזמינים ו/או
		    לספקי השרות ו/או לכל משתמש אחר כל טענה ו/או דרישה ו/או תביעה כלפי החברה
		    ו/או מי מטעמה אשר פעלו בהתאם לסעיפים אלו ולתנאי השימוש בכלל.
		</p>
		<p dir="RTL">
		    14. <strong>מדיניות זכויות יוצרים.</strong>
		</p>
		<p dir="RTL">
		    החברה מכבדת את הקניין הרוחני של אחרים, ומבקשת ממשתמשי האתר שלנו יעשו זאת גם
		    כן. אנחנו אימצנו ויישמנו, בקשר עם האתר שלנו, מדיניות המכבדת את דיני זכויות
		    היוצרים, שעל פיהם יש להסיר כל חומר מפר, ולבטל את זכויותיהם של המשתמשים באתר
		    המקוון שלנו שהם מפרים חוזרים של זכויות קניין רוחני, לרבות זכויות יוצרים.
		    ככל שאתה סבור שאחד מן המשתמשים שלנו מפר שלא כדין זכויות יוצרים ביצירה, וזאת
		    באמצעות השימוש באתר שלנו, וככל שתחפץ שהחומר המפר יוסר, עליך למסור את המידע
		    שלהלן בהודעה בכתב באמצעות טופס יצירת הקשר שבאתר:
		</p>
		<p dir="RTL">
		    1. החתימה הפיזית או האלקטרונית שלך;
		</p>
		<p dir="RTL">
		    2. זיהוי היצירה המוגנת בזכויות יוצרים, שאתה טוען להפרתן;
		</p>
		<p dir="RTL">
		    3. זיהוי של החומר שבשירותים שלנו שאתה טוען שהוא מפר, ושאתה מבקש מאיתנו
		    להסיר;
		</p>
		<p dir="RTL">
		    4. מידע שיספיק על מנת לאפשר לנו לאתר את החומר כאמור;
		</p>
		<p dir="RTL">
		    5. הכתובת, מספר הטלפון וכתובת האימייל שלך;
		</p>
		<p dir="RTL">
		    6. הצהרה לפיה אתה סבור, בתום לב, כי השימוש בחומר נשוא ההצהרה אינו מורשה על
		    ידי בעל זכויות היוצרים, על ידי שלוח שלו או על פי דין;
		</p>
		<p dir="RTL">
		    7. הצהרה לפיה המידע שבהודעה הוא מדוייק, וכן, וזאת כשאתה נתון לעונשים בגין
		    עדות שקר אם לא תצהיר את האמת, כי אתה בעל זכויות היוצרים שנטען כי הופרו, או
		    כי אתה מורשה לפעול בשם בעל זכויות היוצרים.
		</p>
		<p dir="RTL">
		    שים לב שכל הטעיה ביחס לעובדה מהותית בהודעה בכתב מביאה לכך שהצד המתלונן יחוב
		    בגין כל נזקים, פיצויים, עלויות ושכ"ט עו"ד שיגרמו לנו בקשר עם ההודעה בכתב
		    והטענה להפרת זכויות יוצרים.
		</p>
		<p dir="RTL">
		    15. <strong>שינוי תנאי השימוש</strong><strong></strong>
		</p>
		<p dir="RTL">
		    החברה רשאית לשנות על פי דעתה המוחלטת את תנאי השימוש באתר זה. בכל עת תוכל
		    לעיין בתנאי השימוש העדכניים באמצעות לחיצה על הקישור המתאים המופיע בעמוד
		    הכניסה לאתר ו/או בכל עמוד אחר בו.
		</p>
		<p dir="RTL">
		    כל שינוי בתנאי שימוש אלה יכנסו לתוקפו בתוך 30 ימים קלנדריים לאחר שפרסמה
		    החברה בעמוד הבית של האתר את ההודעה על השינויים. לגבי משתמשים חדשים באתר
		    שלנו, שינויים כאמור יכנסו לתוקפם באופן מידי. המשך השימוש באתר שלנו לאחר
		    ההודעה על השינויים כאמור, יבטא אישור על ידך של שינויים כאמור והסכמה להיות
		    מחויב בתנאים שבשינויים כאמור.
		</p>
		<p dir="RTL">
		    16. <strong>דין וסמכות שיפוט </strong><strong></strong>
		</p>
		<p dir="RTL">
		    על תנאי שימוש אלה ועצם כניסתך ו/או השימוש באתר יחולו אך ורק דיני מדינת
		    ישראל. מקום השיפוט הבלעדי בכל דבר ועניין הנובע מתנאי שימוש אלה ו/או השימוש
		    באתר הינו בבתי המשפט המוסמכים במחוז דרום בישראל בעדיפות ראשונה לבית המשפט
		    השלום באשקלון הכול בהתאם לסמכות העניינית.
		</p>
		<p dir="RTL">
		    × המשתמש מצהיר כי בטרם יפנה לסמכות השיפוט המפורטת לעיל ישלח לחברה "הודעה על
		    מחלוקת" בכתב, ובה יפורטו מהות ועילת התביעה או המחלוקת והסעד המבוקש. ההודעה
		    לחברה תשלח לכתובתה: מושב משען משק מס' 29 מיקוד 79302.
		</p>
		<p dir="RTL">
		    עם קבלת ההודעה החברה רשאית לנסות וליישב את התביעה ו/או המחלוקת באופן בלתי
		    פורמאלי. ככל ולא יצלח ניסיון ישוב המחלוקת בתוך 30 ימים מיום קבלת ההודעה
		    יהיה רשאי המשתמש לפתוח בהליך בהתאם לדין וסמכות השיפוט לעיל.
		</p>
		<p dir="RTL">
		    כל הצעה ו/או סכום שיינתנו במסגרת ניסיון ישוב המחלוקת הלא פורמאלי לא יימסרו
		    ו/או יוצגו ו/או יטענו לגביהם בבית המשפט במסגרת ההליך המשפטי.
		</p>
		<p dir="RTL">
		    על אף האמור לעיל, החברה ו/או אתה רשאים לפתוח בכל עת בתובענה אינדיבידואלית
		    בבית המשפט לתביעות קטנות בהתאם לדין והסמכות העניינית.
		</p>
		<p dir="RTL">
		    17. <strong>כללי</strong>
		</p>
		<p dir="RTL">
		    א. <strong>הודעות אלקטרוניות. </strong>כל הודעות בינך לבין החברה יהיו
		    באמצעים אלקטרוניים, בין אם תעשה שימוש באתר או תשלח לנו אימיילים, ובין אם
		    החברה תפרסם הודעות באתר או תשלח לך הודעות באימייל פרט ל"הודעה על מחלוקת"
		    אשר תשלח כמפורט לעיל.
		</p>
		<p dir="RTL">
		    ב. <strong>שימוש בינלאומי באתר.</strong> לאור אופייה הגלובלי של רשת
		    האינטרנט, אתה מסכים כי כל פעולה הנעשית למול האתר, נעשית שלא בניגוד לחוקי
		    המקום בו אתה מצוי.
		</p>
		<p align="right" dir="RTL">
		    In light of the global nature of the Internet, you agree that any action
		    you done on the site are not against the laws of where you are.
		</p>
		<p dir="RTL">
		    ג. <strong>תנאים ממצים. </strong>תנאי שימוש אלה מהווים את מלוא ההסכמה בינך
		    לביננו לגבי השימוש באתר. אי מימוש או אי אכיפה על ידינו של כל זכות או הוראה
		    בתנאי שימוש לא יהוו ויתור עליהן. ככל שיקבע כי כל הוראה בתנאי שימוש אלה אינה
		    תקפה או אינה אכיפה, ההוראות האחרות בתנאי שימוש אלה לא יפגעו, וההוראה שאינה
		    תקפה או אינה אכיפה תיראה ככזו ששונתה כך שהיא תהיה תקפה ואכיפה במידה המותרת
		    על פי דין. היחסים שלך עם החברה הם יחסי קבלן עצמאי, ואף צד אינו שלוח ו/או
		    שותף ו/או עובד ו/או מעביד של הצד האחר. תנאי שימוש אלה, וזכויותיך
		    והתחייבויותיך על פיהם, לא יומחו, יהיו נשוא קבלנות משנה, יואצלו או יועברו על
		    ידך בדרך אחרת, ללא הסכמתה, מראש ובכתב, של החברה, וכל ניסיון להמחאה, התקשרות
		    בחוזה לקבלנות משנה, אצילה או העברה תוך הפרה של האמור יהיו בטלות ומבוטלות.
		    החברה תהיה רשאית להמחות תנאי שימוש אלה ללא הגבלה. תנאי שימוש אלה יחייבו כל
		    נמחים.
		</p>
		<p dir="RTL">
		ד. <strong>זכויות יוצרים/מידע על סימני מסחר.</strong> כל הזכויות שמורות    <strong><u> </u></strong>לש.ח.ק טימבר בע"מ ©, כל סימני מסחר, סימני לוגו
		    וסימני שירות המוצגים באתר הם הקניין שלנו או הקניין של צדדים שלישיים. אתה
		    אינך רשאי לעשות שימוש בסימנים כאמור ללא הסכמתנו, מראש ובכתב, או הסכמת צד
		    שלישי כאמור שהסימנים כאמור הם בבעלותו.
		</p>
		<p dir="RTL">
		    ה. <strong>פרטי קשר:</strong>
		</p>
		<p dir="RTL">
		    × כתובת: מושב משען משק מספר 29
		</p>
		<p dir="RTL">
		    × טלפון: 050-9456568
		</p>
		<p dir="RTL">
		    × אימייל: <a href="mailto:in4ultd@gmail.com">in4ultd@gmail.com</a>
		</p>
	</div>
	<app-footer-page></app-footer-page>
</div>
