<div [@routerTransition]>
	<h2 class="text-muted">תנאי שימוש</h2>
	<div class="container jumbotron">
		<br/>
		<p dir="rtl">
		    תנאי שימוש באתר
		</p>
		<p dir="rtl">
		    גירסא 1.0
		</p>
		<br/>
		<p dir="rtl">
		    האתר שכתובתו gettruck-c3ad3.firebaseapp.com הוא יצירה המוגנת בזכויות
		    יוצרים, השייכת ל- ש.ח.ק טימבר בע"מ. מאפיינים מסויימים באתר עשויים להיות
		    כפופים להנחיות, תנאים או כללים נוספים, שיפורסמו באתר בקשר איתם. כל תנאים,
		    הנחיות וכללים כאמור נכללים בתנאי שימוש אלה על דרך ההפנייה.
		</p>
		<p dir="rtl">
		    "עוגיות" (cookies) ו"זרקורים" (beacons)
		</p>
		<p dir="rtl">
		    כמו כל אתר אחר, אתר זה עושה שימוש ב"עוגיות". ב"עוגיות" אלה נעשה שימוש על
		    מנת לאחסן מידע, לרבות לגבי העדפות המבקרים ודפי האתר שהם ניגשו אליהם או
		    ביקרו בהם. במידע זה נעשה שימוש על מנת ליצור חוויית משתמש אופטימלית, באמצעות
		    התאמה אישית של תוכן דף האינטרנט שלנו לפי סוג הדפדפן של המבקרים שלנו ו/או
		    מידע אחר.
		</p>
		<p dir="rtl">
		    תנאי שימוש אלה מפרטים את התנאים המחייבים מבחינה משפטית החלים לגבי השימוש
		    שלך באתר. בכך שאתה נכנס לאתר, אתה מסכים לתנאים אלה ומציג מצג שיש לך את
		    ההרשאה והסמכות להתקשר בהם. עליך להיות בן 18 לפחות על מנת לגשת לאתר. ככל
		    שאתה לא מסכים לכל הוראות תנאים אלה, עליך לא להיכנס לאתר ו/או לעשות בו
		    שימוש.
		</p>
		<p dir="rtl">
		    ס' 10.2 לתנאי שימוש אלה קובע הסכם בוררות, על בסיס אינדבידואלי, ליישוב
		    מחלוקות, וכן מגביל את הסעדים העומדים לרשותך במקרה של מחלוקת.
		</p>
		<ol>
		    <li dir="rtl">
		        <p dir="rtl">
		            חשבונות
		        </p>
		    </li>
		</ol>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            יצירת חשבון. על מנת לעשות שימוש באתר, עליך לפתוח חשבון ולמסור מידע
		            על עצמך. אתה מתחייב כמפורט להלן: (א) כל המידע שאתה מוסר במסגרת
		            הרישום הוא אמיתי, מעודכן ומדוייק; (ב) אתה תשמור על דיוקו של המידע
		            כאמור. אתה רשאי למחוק את החשבון שלך בכל עת, בכך שתמלא אחר ההוראות
		            שבאתר. החברה תהיה רשאית להקפיא או לבטל את החשבון שלך בהתאם לסעיף
		            זה.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אחריות בקשר לחשבון. אתה תהיה אחראי לשמור על סודיות שם המשתמש
		            והסיסמא שלך לחשבון, ותישא באחריות המלאה לכל הפעילות שתתבצע בחשבון
		            שלך. אתה מאשר שתודיע לחברה מיד על כל שימוש או חשש לשימוש בלתי מורשה
		            בחשבון. החברה לא יכולה להיות ולא תהיה אחראית לכל הפסד או נזק שינבעו
		            מאי עמידה על ידך בדרישות שלעיל, ולא תחוב בשל כך.
		        </p>
		    </li>
		</ul>
		<ol start="2">
		    <li dir="rtl">
		        <p dir="rtl">
		            הגישה לאתר
		        </p>
		    </li>
		</ol>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            בכפוף לתנאים אלה, החברה נותנת לך שיריון בלתי ניתן להעברה, לא בלעדי,
		            ניתן לביטול ומוגבל לגישה לאתר, רק לצורך שימוש אישי ולא מסחרי שלך.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            מגבלות מסויימות. הזכויות שמאושרות לך בתנאי שימוש אלה כפופות לכל
		            המגבלות שלהלן: (א) אתה לא תמכור, תשכיר, תעביר, תמחה, תפיץ או תארח
		            את האתר, או תנצל בדרך אחרת; (ב) אתה לא תשנה כל חלק מן האתר, לא תעשה
		            ממנו כל יצירה נגזרת, ולא תבצע בו כל שחזור לשפת סף, היפוך הידור או
		            הנדסה מהופכת; (ג) אתה לא תיגש לאתר על מנת לבנות אתר אינטרנט דומה או
		            מתחרה; (ד) למעט כקבוע במפורש בתנאי שימוש אלה, אין להעתיק, להפיץ,
		            לפרסם מחדש, להוריד, להציג, או להעביר כל חלק מאתר זה, בכל צורה ובכל
		            דרך שהיא, וכל גירסא, עדכון או תוספת אחרת למאפייני האתר יהיו כפופים
		            לתנאי שימוש אלה. כל זכויות יוצרים והודעות קנייניות אחרות באתר ישמרו
		            בכל עותק שלו.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            החברה שומרת לעצמה את הזכות לשנות, להקפיא או לסגור את האתר, עם או
		            בלי הודעה לך. אתה מאשר שהחברה לא תחוב כלפיך בגין כל שינוי באתר או
		            בכל חלק ממנו, הפרעה להם או סגירה שלהם.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            היעדר תמיכה או תחזוקה. אתה מסכים שעל החברה לא תחול כל חובה לספק לך
		            כל תמיכה בקשר עם האתר.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אתה מודע לכך שלמעט כל תוכן שתספק, כל זכויות קניין רוחני, לרבות
		            זכויות יוצרים, פטנטים, סימני מסחר וסודות מסחריים באתר ובתוכנו הם
		            בבעלותה של החברה או של ספקיה. שים לה שתנאי שימוש אלה והגישה שלך
		            לאתר אינם מקנים לך כל זכות בכל זכויות קניין רוחני, למעט זכות מוגבלת
		            לגישה, כאמור בס' 2.1. החברה והספקים שלה שומרים לעצמם כל זכות שאינה
		            מוקנית בתנאי שימוש אלה.
		        </p>
		    </li>
		</ul>
		<ol start="3">
		    <li dir="rtl">
		        <p dir="rtl">
		            תוכן משתמשים
		        </p>
		    </li>
		</ol>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            תוכן משתמשים. "תוכן משתמשים" – כל מידע ותוכן שמשתמש מעלה לאתר. אתה
		            אחראי, באופן בלעדי, לכל תוכן משתמשים שלך. אתה נושא בכל הסיכונים
		            הכרוכים בשימוש בתוכן משתמשים שלך. אתה מאשר בזאת כי תוכן המשתמשים
		            שלך אינו מפר את מדיניות השימוש הנאות שלנו. אתה לא תציג מצג כלפי כל
		            אחרים או תבצע כל פעולה שממנה משתמע שתוכן המשתמשים שלך מסופק, נתמך
		            או מומלץ על ידי החברה, בכל דרך שהיא. מאחר שרק אתה אחראי לתוכן
		            המשתמשים שלך, אתה עשוי לחשוף את עצמך לחבות ולאחריות, החברה אינה
		            חייבת לגבות כל תוכן משתמשים שתפרסם; כמו כן, תוכן המשתמשים שלך עשוי
		            להימחק בכל עת, ללא כל הודעה מראש לך. אתה אחראי, באופן בלעדי, לערוך
		            עותקי גיבוי של תוכן המשתמשים שלך, ככל שתחפוץ בכך.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אתה נותן בזאת לחברה רישיון בלתי חוזר, לא בלעדי, ללא תמלוגים ומשולם
		            במלואו, בכל העולם, להעתיק את תוכן המשתמשים שלך, להפיצו, להציגו
		            בציבור, לעשות ממנו יצירות נגזרות, לשלבו ביצירות אחרות ולעשות בו כל
		            שימוש ולנצלו בכל דרך אחרת, וכן לתת רישיונות משנה לזכויות כאמור, רק
		            לצורך הכללת תוכן המשתמשים שלך באתר. אתה מוותר בזאת באופן בלתי חוזר
		            על כל תביעה לכל זכות מוסרית או ייחוס ביחס לתוכן משתמשים שלך, ועל כל
		            טענה בקשר לכך.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            מדיניות שימוש נאות. התנאים שלהלן מהווים את "מדיניות השימוש הנאות"
		            שלנו:
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אתה מסכים שלא לעשות שימוש באתר לצורך איסוף, העלאה, העברה, הצגה או
		            הפצה של כל תוכן משתמשים, שחל לגביו אחד מאלה: (1) הוא מפר כל זכות,
		            קניין רוחני או זכות קניינית של צד שלישי; (2) הוא לא חוקי, מטריד,
		            פוגעני, מעוול, מאיים, מזיק, פוגע בפרטיות של אחר, המוני, מהווה לשון
		            הרע, כוזב, מטעה במתכוון, מהווה דיבה מסחרית, פורנוגרפי, מתועב, מקדם
		            גזענות, אי סובלנות, שנאה או פגיעה פיסית מכל סוג שהוא כנגד כל קבוצה
		            או יחיד; (3) הוא פוגע בקטינים בכל דרך שהיא; (4) הוא מפר כל חוק או
		            תקנה, כל התחייבות, או כל הגבלה שהוטלה על ידי כל צד שלישי.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            כמו כן, אתה מסכים לא לבצע אף אחד מאלה: (1) להעלות, להעביר או להפיץ
		            לאתר או באמצעותו, כל תוכנה שמטרתה להזיק לכל מערכת מחשבים או לכל
		            מידע או נתונים, או לשנות אותם; (2) לשלוח באמצעות האתר כל פרסום,
		            חומרי קידום מכירות, דואר זבל, מכתבי שרשרת או משחקי פירמידה בלתי
		            מורשים או שנשלחו לנמען מבלי שביקש לקבלם, או כל סוג אחר של הודעות
		            מרובות או שנשלחו לנמען מבלי שביקש לקבלם; (3) להשתמש באתר על מנת
		            לקצור, לאסוף או לצבור מידע או נתונים לגבי משתמשים אחרים, ללא
		            הסכמתם; (4) להפריע לשרתים או לרשות המחוברים לאתר או לשבש את פעולתם,
		            או ליצור עומס יתר עליהם, או להפר את התקנות, המדיניות או הנהלים של
		            רשתות כאמור; (5) לנסות לגשת באופן בלתי מורשה לאתר, בין באמצעות
		            כריית סיסמאות או בדרך אחרת; (6) להטריד או כל משתמש אחר בשימוש שלו
		            באתר ובניצולו ולהפריע להם; (7) לעשות שימוש בתוכנות או בסוכנים או
		            סקריפטים אוטומטים על מנת ליצור חשבונות מרובים באתר, או להפיק
		            חיפושים, בקשות או שאילתות אוטומטיים לאתר.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אנו שומרים לעצמנו את הזכות לבחון כל תוכן משתמשים, ולערוך בירור או
		            חקירה ו/או לנקוט בצעדים מתאימים כנגדך, על פי שיקול דעתנו הבלעדי,
		            ככל שתפר את מדיניות השימוש הנאות או כל הוראה אחרת בתנאי שימוש אלה,
		            או ככל שתיצור חבות, בדרך אחרת, לנו או לכל אדם אחר. צעדים כאמור הינם
		            לרבות הסרה או שינוי של תוכן המשתמשים שלך, ביטול החשבון שלך בהתאם
		            לס' 8, ו/או דיווח עליך לרשויות אכיפת החוק.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            ככל שתמסור לחברה כל משוב או הצעה לגבי האתר, אתה ממחה בזאת לחברה את
		            כל הזכויות במשוב כאמור, ומסכים שלחברה תהיה הזכות לעשות שימוש ולנצל
		            באופן מלא משוב כאמור ומידע שקשור אליו, באופן שיראה לה לנכון. החברה
		            תראה כל משוב שתמסור לחברה כלא סודי ולא קנייני.
		        </p>
		    </li>
		</ul>
		<ol start="4">
		    <li dir="rtl">
		        <p dir="rtl">
		            אתה מסכים לשפות את החברה ואת נושאי המשרה, העובדים והשלוחים שלה
		            ולהסיר את חבותם, לרבות הוצאות משפט ושכ"ט עו"ד, בשל כל תביעה או
		            דרישה מצד כל צד שלישי בגין או כנובע מאחד מאלה: (א) השימוש שלך באתר;
		            (ב) הפרה שלך של תנאי שימוש אלה; (ג) הפרה על ידך של החוקים או התקנות
		            החלים; (ד) תוכן המשתמשים שלך. החברה שומרת לעצמה את הזכות לקחת על
		            עצמה את ההגנה הבלעדית והשליטה בכל עניין שלגביו אתה נדרש לשפות
		            אותנו, ואתה מסכים לשתף פעולה עם ההגנה שלנו במסגרת כל תביעות כאמור.
		            אתה מסכים שלא להתקשר בכל פשרה בנוגע לכל עניין, ללא אישורה, מראש
		            ובכתב, של החברה. החברה תעשה מאמץ סביר על מנת להודיע לך על כל תביעה,
		            תובענה או הליך כאמור, משייודע לה עליהם.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            לינקים ופרסומות של צדדים שלישיים; משתמשים אחרים
		        </p>
		    </li>
		</ol>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            לינקים ופרסומות של צדדים שלישיים. אתר זה עשוי לכלול לינקים לאתרים
		            ולשירותים של צדדים שלישיים, ו/או להציג פרסומות עבור צדדים שלישיים.
		            לינקים ופרסומות של צדדים שלישיים כאמור אינם בשליטתה של החברה,
		            והחברה אינה אחראית לכל לינקים ופרסומות של צדדים שלישיים. החברה
		            נותנת גישה ללינקים ולפרסומות של צדדים שלישיים כאמור רק לנוחותך,
		            ואינה בוחנת או מאשרת אותם, מפקחת או ממליצה עליהם, תומכת בהם, או
		            נותנת אחריות או מציגה כל מצג לגביהם. אתה תעשה שימוש בכל לינקים
		            ופרסומות של צדדים שליישיים על אחריותך, ועליך להפעיל רמת זהירות
		            ושיקול דעת מתאימים בעשותך כן. בהקליקך על כל לינקים ופרסומות של
		            צדדים שלישיים, התנאים והמדיניות של הצד השלישי הרלוונטי יחולו לגביך,
		            לרבות נהגי הפרטיות ואיסוף המידע שלו.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            משתמשים אחרים. כל משתמש באתר אחראי, באופן בלעדי, לכל תוכן המשתמשים
		            שלו. מאחר שאין לנו שליטה על התוכן של משתמשים, אתה מאשר ומסכים שלא
		            נהיה אחראים לכל תוכן של משתמשים, בין אם נמסר על ידך או על ידי
		            אחרים. אתה מסכים שהחברה לא תהיה אחראית לכל הפסד, אובדן או נזק
		            שיגרמו כתוצאה מכל אינטראקציה כאמור. ככל שתתגלע מחלוקת בינך לבין כל
		            משתמש באתר, לא תחול עלינו כל חובה להיות מעורבים בעניין.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אתה משחרר ופוטר בזאת את החברה ואת נושאי המשרה, העובדים, השלוחים
		            והנמחים שלנו, ואת כל מי שיבוא במקומנו, וזאת ללא הגבלת זמן, מכל
		            מחלוקת, תביעה, דרישה, זכות, חובה, חבות, תובענה ועילת תביעה מכל סוג
		            שהוא, מן העבר, ההווה או העתיד, שנובעה, או תינבע, מן האתר או בקשר
		            אליו, במישרין או בעקיפין, ואתה מוותר בזאת עליהן. ככל שאתה תושב
		            קליפורניה, אתה מוותר בזאת על ס' 1542 לקוד האזרחי של קליפורניה
		            (California Civil Code), בקשר עם האמור, שקובע כי: "שחרור וויתור
		            כללים אינם כוללים בגדרם תביעות שלא היו ידועות לנושה או שלא היה לו
		            חשש לקיומן בעת החתימה על השחרור או הויתור, ושלו היו ידועות לו היו
		            משפיעות, באופן מהותי, על ההסדר שלו עם החייב".
		        </p>
		    </li>
		</ul>
		<ol start="6">
		    <li dir="rtl">
		        <p dir="rtl">
		            מיאון אחריות
		        </p>
		    </li>
		</ol>
		<p dir="rtl">
		    אתר זה מסופק כמות שהוא “as-is”, וכפי זמינותו "as available", והחברה והספקים
		    שלנו מתנערים בזאת מכל אחריות ותנאים מכל סוג שהוא, מפורשים, משתמעים
		    וסטטוטוריים, לרבות כל אחריות או תנאים ביחס לסחירות, התאמה למטרה מסויימת,
		    זכויות, ניצול ללא הפרעה, דיוק או אי הפרה. אנחנו והספקים שלנו איננו מתחייבים
		    שהאתר יספק את כל מה שנדרש לך, או שיהיה זמין ללא הפרעה, יספק שירות בזמן,
		    מאובטח או נטול שגיאות, או שהוא יהיה מדוייק, אמין, נקי מוירוסים או כל קוד
		    מזיק אחר, מלא, חוקי או בטוח. ככל שהדין החל דורש כל אחריות ביחס לאתר, כל
		    אחריות כאמור תוגבל לתקופה של 90 ימים ממועד השימוש הראשון.
		</p>
		<p dir="rtl">
		    איזורי שיפוט מסויימים אינם מתירים החרגת אחריות משתמעת, ולכן ההחרגה שלעיל
		    עשויה שלא לחול לגביך. איזורי שיפוט מסויימים אינם מתירים הגבלה על משך הזמן
		    של אחריות משתמעת, ולכן ההגבלה שלעיל עשויה שלא לחול לגביך.
		</p>
		<ol start="7">
		    <li dir="rtl">
		        <p dir="rtl">
		            הגבלת אחריות
		        </p>
		    </li>
		</ol>
		<p dir="rtl">
		    במידה המירבית המותרת בדין, החברה או הספקים שלנו לא יהיו אחראים ולא יחובו
		    כלפיך או כלפי כל צד שלישי בגין כל אובדן רווחים, אובדן נתונים, עלויות רכש של
		    מוצרים חלופיים, או כל נזקים או פיצויים עקיפים, תוצאתיים, לדוגמא, אגביים,
		    מיוחדים או עונשיים הנובעים מתנאי שימוש אלה או בקשר אליהם, או אי יכולת לעשות
		    שימוש באתר, אף אם הודע לחברה על האפשרות לנזקים או פיצויים כאמור. הגישה לאתר
		    והשימוש בו הם על פי שיקול דעתך ועל אחריותך, ואתה תהיה אחראי, באופן בלעדי,
		    לכל נזק למכשיר או למערכת המחשב שלך, או לאובדן נתונים כתוצאה מכך.
		</p>
		<p dir="rtl">
		    במידה המירבית המותרת על פי דין, ועל אף כל הוראה סותרת בתנאי שימוש אלה,
		    האחריות והחבות שלנו בשל נזקים הנובעים מהסכם זה ובקשר אליו, יוגבלו, בכל עת,
		    לסך מירבי של 50 דולר ארה"ב. קיומה של יותר מתביעה אחת לא תגדיל גבול זה. אתה
		    מסכים שלספקים שלנו לא יהיו כל אחריות או חבות שינבעו מהסכם זה או בקשר אליו.
		</p>
		<p dir="rtl">
		    איזורי שיפוט מסויימים אינם מתירים הגבלת או החרגת אחריות לגבי נזקים אגביים
		    או תוצאתיים, ולכן ההגבלה או ההחרגה שלעיל עשוייה שלא לחול לגביך.
		</p>
		<ol start="8">
		    <li dir="rtl">
		        <p dir="rtl">
		            תקופת ההסכם וסיומו. בכפוף לסעיף זה, תנאי שימוש אלה ישארו בתוקפם
		            המלא בעת שתעשה שימוש באתר. אנו נהיה רשאים להקפיא או לבטל את זכותך
		            לעשות שימוש באתר, בכל עת, מכל סיבה שהיא, על פי שיקול דעתנו הבלעדי,
		            לרבות בשל שימוש באתר תוך הפרה של תנאי שימוש אלה. בביטול זכויותיך על
		            פי תנאי שימוש אלה, החשבון שלך וזכותך לגשת לאתר ולעשות בו שימוש
		            יבוטלו ויסתיימו באופן מיידי. אתה מבין שכל ביטול של החשבון שלך עשוי
		            לכלול מחיקה ממאגרי המידע החיים שלנו של תוכן המשתמשים שלך שקשור
		            לחשבון שלך. לחברה לא יהיו כל אחריות או חבות שהן כלפיך בשל כל ביטול
		            של זכויותיך על פי תנאי שימוש אלה. גם לאחר שזכויותיך על פי תנאי
		            שימוש אלה יבוטלו, ההוראות שלהלן בתנאי שימוש אלה ישארו בתוקפן: ס'
		            2-2.5, ס' 3, וס' 4-10.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            מדיניות זכויות יוצרים.
		        </p>
		    </li>
		</ol>
		<p dir="rtl">
		    החברה מכבדת את הקניין הרוחני של אחרים, ומבקשת ממשתמשי האתר שלנו יעשו זאת גם
		    כן. אנחנו אימצנו ויישמנו, בקשר עם האתר שלנו, מדיניות המכבדת את דיני זכויות
		    היוצרים, שעל פיהם יש להסיר כל חומר מפר, ולבטל את זכויותיהם של המשתמשים באתר
		    המקוון שלנו שהם מפרים חוזרים של זכויות קניין רוחני, לרבות זכויות יוצרים.
		    ככל שאתה סבור שאחד מן המשתמשים שלנו מפר שלא כדין זכויות יוצרים ביצירה, וזאת
		    באמצעות השימוש באתר שלנו, וככל שתחפץ שהחומר המפר יוסר, עליך למסור את המידע
		    שלהלן בהודעה בכתב (על פי 17 U.S.C. § 512(c) ) לסוכן זכויות היוצרים שלנו:
		</p>
		<ol>
		    <li dir="rtl">
		        <p dir="rtl">
		            החתימה הפיזית או האלקטרונית שלך;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            זיהוי היצירה המוגנת בזכויות יוצרים, שאתה טוען להפרתן;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            זיהוי של החומר שבשירותים שלנו שאתה טוען שהוא מפר, ושאתה מבקש מאיתנו
		            להסיר;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            מידע שיספיק על מנת לאפשר לנו לאתר את החומר כאמור;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            הכתובת, מספר הטלפון וכתובת האימייל שלך;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            הצהרה לפיה אתה סבור, בתום לב, כי השימוש בחומר נשוא ההצהרה אינו
		            מורשה על ידי בעל זכויות היוצרים, על ידי שלוח שלו או על פי דין;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            הצהרה לפיה המידע שבהודעה הוא מדוייק, וכן, וזאת כשאתה נתון לעונשים
		            בגין עדות שקר אם לא תצהיר את האמת, כי אתה בעל זכויות היוצרים שנטען
		            כי הופרו, או כי אתה מורשה לפעול בשם בעל זכויות היוצרים.
		        </p>
		    </li>
		</ol>
		<p dir="rtl">
		    שים לב שעל פי ס' 17 U.S.C. § 512(f) , כל הטעיה ביחס לעובדה מהותית בהודעה
		    בכתב מביאה לכך שהצד המתלונן יחוב בגין כל נזקים, פיצויים, עלויות ושכ"ט עו"ד
		    שיגרמו לנו בקשר עם ההודעה בכתב והטענה להפרת זכויות יוצרים.
		</p>
		<ol start="10">
		    <li dir="rtl">
		        <p dir="rtl">
		            כללי
		        </p>
		    </li>
		</ol>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            תנאי שימוש אלה כפופים לעדכונים מעת לעת, וככל שנעשה בהם כל שינויים
		            מהותיים, נהיה רשאים להודיע לך עליהם במשלוח אימייל לכתובת האימייל
		            האחרונה שתמסור לנו ו/או בפרסום הודעה בולטת באתר שלנו על השינויים.
		            אתה אחראי למסור לנו את כתובת האימייל העדכנית ביותר שלך. ככל שכתובת
		            האימייל האחרונה שתמסור לנו לא תהיה תקפה, אף על פי כן משלוח הודעת
		            האימייל על ידנו שתכלול הודעה כאמור תהווה הודעה תקפה על השינויים
		            המפורטים בהודעה. כל שינוי בתנאי שימוש אלה יכנסו לתוקפם 30 ימים
		            קלנדריים לאחר ששלחנו את ההודעה באימייל אליך, או 30 ימים קלנדריים
		            לאחר שפרסמנו באתר שלנו את ההודעה על השינויים, לפי המוקדם מביניהם.
		            לגבי משתמשים חדשים באתר שלנו, שינויים כאמור יכנסו לתוקפם באופן
		            מיידי. המשך השימוש באתר שלנו לאחר ההודעה על השינויים כאמור, יבטא
		            אישור על ידך של שינויים כאמור והסכמה להיות מחוייב בתנאים שבשינויים
		            כאמור.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            יישוב מחלוקות. אנא קרא הסכם בוררות זה בעיון. הוא מהווה חלק מן החוזה
		            שלך עם החברה, ומשפיע על זכויותיך. הוא כולל הליכים לחובת בוררות
		            מחייבת, וויתור על תביעה ייצוגית.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            תחולת הסכם הבוררות. כל תביעות ומחלוקות בקשר עם תנאי השימוש או
		            השימוש בכל מוצר או שירות המסופקים או הניתנים על ידי החברה שלא ניתן
		            ליישב באופן בלתי פורמאלי או בבית משפט לתביעות קטנות, יתברר בבוררות
		            מחייבת על בסיס אינדווידואלי על פי תנאי הסכם בוררות זה. למעט אם
		            הוסכם אחרת, כל הליך בוררות יתנהל באנגלית. הסכם בוררות זה חל לגביך
		            ולגבי החברה, ולגבי כל חברות בת, יישויות קרובות, שלוחים, סוכנים,
		            עובדים ונמחים, כל מי שאתה או החברה באו במקומו בהחזקת זכויות, וכל מי
		            שיבוא במקום החברה או במקומך, וכן כל משתמשים מורשים ושאינם מורשים
		            בשירותים או בטובין המסופקים או הניתנים על פי תנאי שימוש אלה, או
		            המוטבים של השירותים או הטובין כאמור.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            דרישה למתן הודעה ויישוב מחלוקות לא פורמאלי. בטרם שכל צד יפנה
		            לבוררות, אותו צד ישלח לצד האחר "הודעה על מחלוקת" בכתב, שבה יפורטו
		            מהות ועילת התביעה או המחלוקת, והסעד המבוקש. ההודעה לחברה תישלח ל:
		            מושב משען, 79302, משען. עם קבלת ההודעה, עם קבלת ההודעה, אתה והחברה
		            רשאים ל נסות ליישב את התביעה או המחלוקת באופן בלתי פורמאלי. ככל
		            שאתה והחברה לא תיישבו את התביעה או המחלוקת בתוך 30 ימים מקבלת
		            ההודעה, כל צד יהיה רשאי לפתוח בהליך בוררות. סכום כל הצעה לפשרה
		            שתינתן על ידי כל צד לא ימסר לבורר עד לאחר שהבורר יקבע את אותו ישלם
		            כל צד למשנהו על פי פסק הבוררות.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            כללי הבוררות. הבוררות תתקיים במסגרת הארגון האמריקאי לבוררות
		            (American Arbitration Association), ארגון מוכר ליישוב סכסוכים
		            אלטרנטיבי המציע הליך בוררות כמפורט בסעיף זה. ככל שהליך בוררות
		            במסגרת ה- AAA לא יהיה זמין לצדדים, הצדדים יסכימו לבחור בארגון אחר
		            ליישוב סכסוכים אלטרנטיבי. כללי הארגון ליישוב סכסוכים יחולו על כל
		            האספקטים של הבוררות, למעט ככל שהכללים כאמור יעמדו בסתירה לתנאי
		            השימוש. ניתן לעיין בכללי הבוררות הצרכנית של ה- AAA החלים על הבוררות
		            בכתובת <a href="http://www.adr.org">www.adr.org</a> או בפנייה ל-
		            AAA בטלפון 1-800-778-7879. הליך הבוררות יתנהל בפני בורר יחיד
		            וניטרלי. ניתן יהיה ליישב כל תביעה או מחלוקת שהסכום הנתבע במסגרתן
		            הוא סך כולל של פחות מ- 10,000 דולר ארה"ב בהליך בוררות מחייב על יסוד
		            מסמכים בלבד ו/או במדיה אלקטרונית, לפי בחירת הצד שמבקש את הסעד. לגבי
		            תביעות או מחלוקות שבהן הסכום הנתבע הכולל הוא 10,000 דולר ארה"ב
		            לפחות, הזכות לדיון פנים אל פנים תיקבע על ידי כללי הבוררות. כל דיון
		            יתקיים במקום שאינו המרוחק למעלה מ- 100 מילין ממקום מגוריך, למעט אם
		            אתה מתגורר מחוץ לארה"ב, ולמעט אם הצדדים יסכימו אחרת. ככל שאתה
		            מתגורר מחוץ לארה"ב, הבורר יתן לצדדים הודעה, זמן סביר מראש, על מועד
		            ומקום כל דיונים בע"פ. ניתן שפסק הבוררות יאושר בכל בית משפט מוסמך.
		            ככל שהבורר יתן פסק בוררות לטובתך בסך שיעלה על הצעת הפשרה האחרונה
		            שניתנה לך על ידי החברה לפני פתיחת הליך הבוררות, החברה תשלם לך את
		            סכום פסק הבוררות או סך של 2,500 דולר ארה"ב, לפי הגבוה מביניהם. כל
		            צד ישא בהוצאותיו שנבעו מהליך הבוררות, ושני הצדדים ישאו, בחלקים
		            שווים, בשכ"ט ובהוצאות של ארגון יישוב הסכסוכים האלטרנטיבי.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            כללים נוספים בדבר בוררות על יסוד מסמכים בלבד ו/או במדיה אלקטרונית.
		            ככל שיבחר הליך בוררות ללא דיון פנים אל פנים, הבוררות תתנהל בטלפון,
		            באופן מקוון ו/או על יסוד מסמכים בכתב בלבד; דרך הדיון הספציפית תיבחר
		            על ידי הצד שפנה לבוררות. הבוררות לא תכלול כל הופעה באופן אישי על
		            ידי הצדדים או העדים, למעט אם יוסכם אחרת בין הצדדים.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            המועד להגשת תביעה. ככל שאתה או החברה יפנו לבוררות, התביעה בבוררות
		            תוגש במסגרת פרק הזמן הקבוע בדיני ההתיישנות, וזה הקבוע בכללי ה- AAA
		            ביחס לתביעה.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            סמכות הבורר. ככל שיפתח הליך בוררות, הבור יקבע את זכויותיך
		            וחבויותיך, ואת אלה של החברה, והמחלוקת לא תאוחד עם כל עניינים אחרים
		            ולא תצורף לכל תיקים או צדדים אחרים. לבורר תהיה הסמכות להיענות
		            לבקשות שיישבו כל תביעה או כל חלק ממנה. לבורר תהיה הסמכות לפסוק
		            פיצויים כספיים, ולתת כל סעד או תרופה שאינם כספיים, ושעומדים לכל
		            יחיד על פי הדין החל, כללי ה- AAA ותנאי השימוש. הבורר יתן פסק בוררות
		            בכתב שבו יפורטו הממצאים והמסקנות המהותיים עליהם נסמך פסק הבוררות.
		            לבורר תהיה אותה הסמכות לתת סעד על בסיס אינדווידואלי שהיתה לשופט
		            בבית משפט. פסק הבורר יהיה סופי ויחייב אותך ואת החברה.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            ויתור על משפט בפני מושבעים. הצדדים מוותרים בזאת על זכותם החוקתית
		            והסטטוטורית לפנות לבית המשפט ולנהל משפט בפני שופט או חבר מושבעים,
		            ותחת זאת בוחרים שכל תביעות ומחלוקות יתבררו בהליך בוררות על פי הסכם
		            בוררות זה. הליכי בוררות בדרך כלל מוגבלים ויעילים יותר ויקרים פחות
		            מאשר הכללים החלים בבית המשפט, והם כפופים לביקורת מוגבלת מאד מצד בית
		            המשפט. ככל שתתנהל כל התדיינות בינך לבין החברה בכל בית המשפט מדינתי
		            או פדראלי בתביעה לביטול או אכיפה של פסק בוררות, או בדרך אחרת, אתה
		            והחברה מוותרים על כל זכות למשפט בפני מושבעים, ובוחרים, תחת זאת,
		            שהמחלוקת תתברר בפני שופט.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            ויתור על תביעות ייצוגיות או מאוחדות. כל תביעות ומחלוקות במסגרת הסכם
		            בוררות זה יתבררו, בין בבוררות ובין בבית המשפט, על בסיס אינדווידואלי
		            ולא יצוגי, ולא ניתן יהיה לאחד או לצרף את הדיון בתביעות של יותר
		            מלקוח או משתמש אחד.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            סודיות. כל עניין בנוגע להליך הבוררות יראה כסודי. הצדדים מסכימים
		            לשמור על סודיות, למעט אם יידרש אחרת בדין. פיסקה זו לא תמנע צד
		            מלמסור לבית משפט כל מידע הנדרש לצורך אכיפת הסכם זה או פסק הבוררות,
		            או לצורך בקשת צו מניעה או סעד שביושר.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            הפרדה. ככל שבית משפט מוסמך יקבע על פי דין כי כל חלק מהסכם בוררות זה
		            הוא חסר תוקף או לא אכיף, אזי לאותו חלק לא יהיה כל תוקף, והוא יופרד,
		            ויתר חלקי ההסכם ישארו בתוקפם.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            זכות הויתור. הצד שנגדו מוגשת התביעה יהיה רשאי לוותר על כל הזכויות
		            והמגבלות המפורטות בהסכם בוררות זה. ויתור כאמור לא יהווה ויתור על כל
		            חלק אחר בהסכם בוררות זה, ולא ישפיע עליו.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            תוקף הוראות. הסכם בוררות זה ישאר בתוקפו גם לאחר סיום היחסים שלך עם
		            החברה.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            בית המשפט לתביעות קטנות. על אף האמור, החברה או אותה רשאים לפתוח
		            בתובענה אינדווידואלית בבית המשפט לתביעות קטנות.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            סעד דחוף שביושר. על אף האמור, כל צד יהיה רשאי לבקש סעד דחוף שביושר
		            בפני בית משפט מדינתי או פדראלי, על מנת לשמר הסטטוס קוו על להליך
		            הבוררות. בקשה לסעד ביניים לא תיראה כויתור על כל זכות או התחייבות על
		            פי הסכם בוררות זה.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            תביעות שאינן כפופות לבוררות. על אף האמור, תביעות בגין לשון הרע,
		            עבירה על פי חוק הונאות ושימוש לרעה במחשבים (Computer Fraud and
		            Abuse Act) והפרה של פטנט, זכויות יוצרים, סימן מסחר או סוד מסחרי של
		            הצד האחר, או שימוש לא הוגן בהם, לא יהיו כפופים להסכם בוררות זה.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            בכל נסיבות שבהן הסכם הבוררות שלעיל מתיר לצדדים להתדיין בבית משפט,
		            הצדדים מסכימים לסמכות פרסונלית של בתי המשפט ב- Netherlands County,
		            קליפורניה, לצורך כך.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            האתר עשוי להיות כפוף לדיני הפיקוח על היצור של ארה"ב, או לכללי
		            הייצוא או הייבוא במדינות אחרות. אתה מסכים לא לייצא, לייצא מחדש או
		            להעביר, במישרין או בעקיפין, כל נתונים או מידע טכניים אמריקאיים
		            שיתקבלו מן החברה, או כל מוצרים שעושים שימוש בנתונים או מידע כאמור,
		            בניגוד לדיני או כללי הייצור של ארה"ב.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            החברה ממוקמת בכתובת כאמור בס' 10.8. ככל שאתה תושב קליפורניה, אתה
		            רשאי לדווח על תלונות בפנייה ליחידת הסיוע לגבי תלונות באגף מוצרי
		            צריכה במחלקה לענייני צרכנות בקליפורניה(Complaint Assistance Unit of
		            the Division of Consumer Product of the California Department of
		            Consumer Affairs) לכתובת: 400 R Street, Sacramento, CA 95814, או
		            בטלפון: (800) 952-5210.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            הודעות אלקטרוניות. כל הודעות בינך לבין החברה יהיו באמצעים
		            אלקטרוניים, בין אם תעשה שימוש באתר או תשלח לנו אימיילים, ובין אם
		            החברה תפרסם הודעות באתר או תשלח לך הודעות באימייל. לעניין היחסים
		            החוזיים בין הצדדים, אתה מסכים לשני אלה: (א) לקבל הודעות מן החברה
		            בדרך אלקטרונית; (ב) כל התנאים, ההסכמים, ההודעות, מסירות המידע,
		            והודעות אחרות שהחברה תמסור לך בדרך אלקטרונית, ימלאו אחר כל חובה
		            חוקית שהן היו מקיימות לו היו בעותק קשיח.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            תנאים ממצים. תנאי שימוש אלה מהווים את מלוא ההסכמה בינך לביננו לגבי
		            השימוש באתר. אי מימוש או אי אכיפה על ידינו של כל זכות או הוראה
		            בתנאי שימוש לא יהוו ויתור עליהן. כותרות הסעיפים בתנאי שימוש אלה הן
		            לצורך הנוחות בלבד, ולא יהיה להם תוקף חוקי או חוזי. ככל שיקבע כי כל
		            הוראה בתנאי שימוש אלה אינה תקפה או אינה אכיפה, ההוראות האחרות בתנאי
		            שימוש אלה לא יפגעו, וההוראה שאינה תקפה או אינה אכיפה תיראה ככזו
		            ששונתה כך שהיא תהיה תקפה ואכיפה במידה המותרת על פי דין. היחסים שלך
		            עם החברה הם יחסי קבלן עצמאי, ואף צד אינו שלוח או שותף של הצד האחר.
		            תנאי שימוש אלה, וזכויותיך והתחייבויותיך על פיהם, לא יומחו, יהיו
		            נשוא קבלנות משנה, יואצלו או יועברו על ידך בדרך אחרת, ללא הסכמתה,
		            מראש ובכתב, של החברה, וכל ניסיון להמחאה, התקשרות בחוזה לקבלנות
		            משנה, אצילה או העברה תוך הפרה של האמור יהיו בטלות ומבוטלות. החברה
		            תהיה רשאית להמחות תנאי שימוש אלה ללא הגבלה. תנאי שימוש אלה יחייבו
		            כל נמחים.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            זכויות יוצרים/מידע על סימני מסחר. כל הזכויות שמורות © 2012. כל
		            סימני מסחר, סימני לוגו וסימני שירות המוצגים באתר הם הקניין שלנו או
		            הקניין של צדדים שלישיים. אתה אינך רשאי לעשות שימוש בסימנים כאמור
		            ללא הסכמתנו, מראש ובכתב, או הסכמת צד שלישי כאמור שהסימנים כאמור הם
		            בבעלותו.
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            פרטי קשר:
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            כתובת: משען
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            טלפון: 050-9456568
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            אימייל: <a href="mailto:in4ultd@gmail.com">in4ultd@gmail.com</a>
		        </p>
		    </li>
		</ul>
		<br/>
		<p dir="rtl">
		    דף תנאי שימוש זה נוצר ב-
		    <a href="http://www.termsofusegenerator.net">
		        www.termsofusegenerator.net
		    </a>
		    .
		</p>
		<div>
		    <br/>
		</div>
	</div>
	<app-footer-page></app-footer-page>
</div>
