<div class="card card-inverse {{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-10">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-2 text-right">
                <div class="d-block huge" style='white-space: pre-wrap;'>{{header}}</div>
                <div class="d-block"><small style='white-space: pre-wrap;'>{{text}}</small></div>
            </div>
        </div>
    </div>
    <div *ngIf='action'>
    	<div class="card-footer" *ngIf='actionRout'>
	        <a [routerLink]='actionRout' class="card-inverse">
	        	<span class="float-left">
	            	<i class="fa fa-arrow-circle-left"></i>
	            </span>
	        	<span class="float-right"> {{action}}</span>
	            <div class="clearfix"></div>
	        </a>
	    </div>
	    <div class="card-footer" *ngIf='actionLink'>
	        <a href="{{actionLink}}" class="card-inverse">
	        	<span class="float-left">
	            	<i class="fa fa-arrow-circle-left"></i>
	            </span>
	        	<span class="float-right"> {{action}}</span>
	            <div class="clearfix"></div>
	        </a>
	    </div>
    </div>
    
    <div *ngIf='!action'>
    	<div class="card-footer">
	        <a href="Javascript:void(0)" (click)="database.login()" class="card-inverse">
	        	<span class="float-left">
	            	<i class="fa fa-arrow-circle-left"></i>
	            </span>
	        	<span class="float-right"> התחבר</span>
	            <div class="clearfix"></div>
	        </a>
	    </div>
    </div>
    
</div>
