<div [@routerTransition] class="main-content-container">
	<div>
		<h2 class="text-muted">הרשמת מוביל<br><i class="fa fa-lock fa-fw"></i><small>חיבור מאובטח</small></h2>
			<table class="form-control" *ngIf="userSnapshot" style="font-size: 1rem;">
				<tr>
					<td>
						<i class="fa fa-user fa-fw"></i> &nbsp;
					</td>
					<td>
						{{userSnapshot.child('name').val()}}
					</td>
				</tr>
				<tr>
					<td>
						<i class="fa fa-envelope fa-fw"></i>
					</td>
					<td>
						{{userSnapshot.child('email').val()}}
					</td>
				</tr>
			</table>
			<br>
			<div class="form-control" style="font-size: 1rem; color: white; background-color: green; padding: .5rem; font-weight: bold;">
				* שים לב ! - חשבונך  <u>לא יחוייב</u> בהזנת כרטיס האשראי
			</div>
			<div class="form-control" style="font-size: .8rem; color: white; background-color: green; padding: .5rem;">
				במידה והרווחת דרך האתר, תחוייב ב 8% מסך העסקה 24 שעות לאחר מועד העסקה.
			</div>
		<br>
		<iframe class="iframeheight" #iframeContent></iframe>
	</div>
	<div *ngIf="!userId">
		<h1>לא נבחר משתמש</h1>
	</div>
	<app-footer-page></app-footer-page>
</div>
