@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

::-webkit-scrollbar { 
    display: none; 
}
.ta-c{
	text-align: center;
}
.body-cls{
}
.color-primary{
	color: #0275d8;
}
.color-secondary{
	color: #5cb85c;
}
.main-content-container{
	padding: 1rem;
}
/* .btn {
	margin: .2rem !important;
	margin-left: .2rem !important;
	margin-bottom: .2rem !important;
} */
.star {
  position: relative;  
  display: inline-block;
  font-size: 1.0rem;
  color: #b0c4de;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #1e90ff;
}
.filled {
  color: #1e90ff;
}
