::-webkit-scrollbar { 
    display: none; 
}

.ta-c{
	text-align: center;
}
.body-cls{
}
.color-primary{
	color: #0275d8;
}
.color-secondary{
	color: #5cb85c;
}
.main-content-container{
	padding: 1rem;
}