<div class="form-control in-bl" style='margin-bottom: 5px'>
	<table>
		<tr>
			<td>
				<i class="fa fa-truck fa-4x" style="margin-left: 2rem"></i>
			</td>
			<td class="text-align-center">
				<small>
					<table>
						<tr>
							<td style="font-weight: bold;">
								סוג משאית
							</td>
							<td>
								{{order.truckType | resolveTruckType}}
							</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">
								סוג נגרר
							</td>
							<td>
								{{order.truckSubType | resolveTruckSubType}}
							</td>
						</tr>
						<tr>
							<td style="font-weight: bold;">
								כמות משאיות &nbsp;
							</td>
							<td>
								{{order.truckQuantity}}
							</td>
						</tr>
					</table>
				</small>
			</td>
		</tr>
	</table>
</div>