<div class="form-control in-bl" style='margin-bottom: 5px'>
	<table style="margin-bottom: 0px; font-size: .8rem;">
		<tbody>
			<tr>
				<td rowspan="3" style="text-align: center;">
					<i class="fa fa-truck fa-5x" style="margin-left: 1rem;"></i>
				</td>
				<td>
					<table class="table table-sm" style="margin-bottom: 0px;">
						<tbody>
							<tr>
								<td>סוג משאית</td>
								<td><strong>{{order.truckType | resolveTruckType}}</strong></td>
							</tr>
							<tr>
								<td>סוג נגרר</td>
								<td><strong>{{order.truckSubType |
										resolveTruckSubType}}</strong></td>
							</tr>
							<tr>
								<td>כמות משאיות</td>
								<td><strong>{{order.truckQuantity}}</strong></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>