<footer class="footer">
  <div class="container">
  	<small>
	    <span class="text-muted">האתר נבנה ע"י Objective</span>
	    <span class="text-muted">&nbsp; | &nbsp;</span>
	    <span class="text-muted"><a  [routerLink]="['/pp-page']">מדיניות פרטיות</a></span>
	    <span class="text-muted">&nbsp; | &nbsp;</span>
	    <span class="text-muted"><a  [routerLink]="['/tos-page']">תנאי שימוש</a></span>
	    <span class="text-muted">&nbsp; | &nbsp;</span>
	    <span class="text-muted">&copy; כל הזכויות שמורות לש.ח.ק טימבר בע"מ</span>
  	</small>
  </div>
</footer>