<div [@routerTransition] class="main-content-container">
    <app-page-header [heading]="'עלינו'" [icon]="'fa-address-book'"></app-page-header>
	<div class="jumbotron">
		<h3>ש.ח.ק טימבר בע"מ</h3> 
		<img class="img-fluid d-block form-control" style='padding: 0px; width: 500px' [src]="getStaticMapUrl()" alt="Static Map">
		<br>
		<table>
			<tr>
				<td>
					<i class="fa fa-building fw"></i>
				</td>
				<td>
					מושב משען 29
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-phone fw"></i>
				</td>
				<td>
					050-6589971
				</td>
			</tr>
		</table>
	</div>
	<div class="jumbotron">
		<table>
			<tr>
				<td>
					<i class="fa fa-truck fa-5x" style="color: #0275d8"></i> &nbsp;&nbsp;&nbsp;
				</td>
				<td>
					בש.ח.ק טימבר בע"מ אנו מאמינים שמשאיות חוזרות הן בזבוז של משאבים<br>
					לכן בכדי ליעל את החברות שלכם אנו מציעים פתרונות של הצעות מחיר בזמן אמת כדי למלא משאיות חוזרות בקלות וביעילות. 
				</td>
			</tr>
		</table>
	</div>
	<app-footer-page></app-footer-page>
</div>