<div [@routerTransition]>
	<h2 class="text-muted">עלינו<br><small>פרטים על החברה</small></h2>
	<div class="jumbotron">
		ש.ח.ק טימבר בע"מ 
		<br>
		<br>
		כתובתינו: מושב משען 29
		<br> 
		טלפון: 050-6589971
	</div>
	<div class="jumbotron">
		<table>
			<tr>
				<td>
					<i class="fa fa-truck fa-5x"></i> &nbsp;&nbsp;&nbsp;
				</td>
				<td>
					בש.ח.ק טימבר בע"מ אנו מאמינים שמשאיות חוזרות הן בזבוז של משאבים<br>
					לכן בכדי ליעל את החברות שלכם אנו מציעים פתרונות של הצעות מחיר בזמן אמת כדי למלא משאיות חוזרות בקלות וביעילות. 
				</td>
			</tr>
		</table>
	</div>
	<app-footer-page></app-footer-page>
</div>