<div class="card card-inverse {{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{count}}</div>
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="javascript:void(0)" class="card-inverse">
        	<span class="float-left">
            	<i class="fa fa-arrow-circle-left"></i>
            </span>
        	<span class="float-right">View Details {{data}}</span>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
