<div class="modal-dialog">
  <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">{{title || 'כותרת'}}</h4>
     </div>
     <div class="modal-body">
       <p>{{message || 'Message'}}</p>
       <p *ngIf="subMessage != undefined"><small>{{subMessage}}</small></p>
       <fieldset class="form-group">
           <textarea class="form-control" rows="3" #userInput></textarea>
       </fieldset>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" (click)="confirm()">אישור</button> &nbsp;&nbsp;
       <button type="button" class="btn btn-default" (click)="close()">ביטול</button>
     </div>
   </div>
</div>