<div [@routerTransition]>
	<h2 class="text-muted">מדיניות פרטיות</h2>
	<div class="container jumbotron">
		<p><strong><a [routerLink]="['/tos-page']">מעבר לתנאי שימוש</a></strong></p>
		<p align="center" dir="RTL">
		    <strong><u>מדיניות פרטיות</u></strong>
		</p>
		<p dir="RTL">
		    מדיניות פרטיות זו גובשה על מנת לשרת טוב יותר את מי שמודאג מן האופן שבו נעשה
		    שימוש במידע אישי המאפשר זיהוי, באופן מקוון.
		</p>
		<p dir="RTL">
		    החברה מתייחסת בכבוד לפרטיות המשתמשים באתר זה. תנאי השימוש ומדיניות זו ילמדו
		    אותך מהי מדיניות הפרטיות הנוהגת באתר. הם סוקרים את האופן בו אנו אוספים את
		    המידע האישי שלך המאפשר זיהוי, עושים בו שימוש, מגנים עליו ומטפלים בו בדרך
		    אחרת, בהתאם לאתר האינטרנט שלנו.
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>מסירת פרטים אישיים </strong>
		</p>
		<p dir="RTL">
		    חלק מהפעילויות באתר יכול ויהיו כרוכות במסירת פרטים אישיים כגון שם, כתובת,
		    כתובת הדוא"ל שלך וסיסמא. אינך חייב על פי דין למסור נתונים כלשהם לרבות אלו
		    לעיל, אולם ללא מסירת הפרטים יכולת השימוש באתר החברה תהיינה מוגבלת במסגרת
		    הפעילויות המותרות בלבד.
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>
		        מידע אישי הנאסף ממי שמבקר בבלוג, באתר האינטרנט או באפליקציה שלנו
		    </strong>
		</p>
		<p dir="RTL">
		    אנו לא אוספים ו/או שומרים מידע אישי מן המבקרים באתר שלנו מבלי שהם נרשמו
		    ו/או מסרו את פרטיהם האישיים.
		</p>
		<p dir="RTL">
		    בעת הביקור באתר יכול שיצטבר מידע על נוהגיך, העמודים בהם צפית, הפעילויות בהן
		    השתתפת. מנהלי האתר ישמרו את המידע במאגר שברשותם. השימוש בנתונים אלו כמו גם
		    בנתונים שתמסור ככל ותירשם יעשה על פי מדיניות פרטיות זו ו/או על פי הוראת כל
		    דין וכן על מנת לסייע לך בחוויית השימוש שלך באתר החברה.
		</p>
		<p dir="RTL">
		    <em></em>
		</p>
		<p dir="RTL">
		    <strong>מועד ואופן אסיפת המידע</strong>
		</p>
		<p dir="RTL">
		    אנו אוספים ממך מידע בעת שאתה מבקר באתר ו/או כשאתה ממלא טופס ו/או מזין מידע
		    לאתר שלנו. כל מידע נאסף בהתאם ובמגבלת האמור לעיל ולהלן ובכפוף לתנאי השימוש
		    באתר.
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>עשיית שימוש במידע הנאסף</strong>
		</p>
		<p dir="RTL">
		    החברה רשאית לעשות שימוש במידע שהיא אוספת ממך כשאתה נרשם, מבצע עסקה, נרשם
		    לניוזלטר שלנו, משיב לסקר או להודעה שיווקית, גולש באתר ו/או עושה כל שימוש
		    בתכונות אחרות של האתר שלנו, וזאת בדרכים ולטובת הפעולות שלהלן:
		</p>
		<p dir="RTL">
		    × על מנת לבצע התאמה אישית של החוויה שלך ולאפשר לנו לספק את סוג התוכן
		    וההצעות לטובת ביצוע עסקה, שבהם אתה מעוניין במידה הרבה ביותר;
		</p>
		<p dir="RTL">
		    × על מנת לעבד את העסקאות שלך במהירות;
		</p>
		<p dir="RTL">
		    × על מנת לבקש דירוגים וביקורות של שירותים או מוצרים.
		</p>
		<p dir="RTL">
		    × לכל מטרה אחרת, המפורטת במדיניות פרטיות זו או בתנאי השימוש של החברה באתר.
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>אבטחת מידע</strong>
		    <strong></strong>
		</p>
		<p dir="RTL">
		    האתר שלנו נסרק, באופן שוטף, לגילוי חורי אבטחה ורגישויות ידועות, על מנת
		    שהביקור שלך באתר שלנו יהיה כמה שיותר בטוח.
		</p>
		<p dir="RTL">
		    אנחנו עושים שימוש בסריקת נוזקות שוטפת.
		</p>
		<p dir="RTL">
		    המידע האישי שלך נשמר מאחורי רשתות מאובטחות, ויכולים לגשת אליו רק מספר
		    אנשים, שיש להם זכות גישה מיוחדת למערכות כאמור, ושנדרשים לשמור על סודיות
		    המידע. כמו כן, כל מידע רגיש או מידע על כרטיסי אשראי שאתה מוסר מוצפן באמצעות
		    טכנולוגיית SSL (הפרוטוקול הסטנדרטי לתקשורת מאובטחת).
		</p>
		<p dir="RTL">
		    אנחנו מיישמים מגוון אמצעי אבטחה בשעה שהמשתמש עושה הזמנה ו/או מזין ו/או מוסר
		    מידע שלו ו/או ניגש אליו, על מנת לשמור על בטיחות המידע האישי שלך. בעוד
		    שמערכות ונהלים אלה מצמצמים את הסיכונים לחדירה בלתי מורשית למחשבי ו/או תוכן
		    האתר, אין בהם ביטחון מוחלט. לכן, מנהלי האתר לא מתחייבים שהשירותים באתר יהיו
		    חסינים באופן מוחלט מפני גישה בלתי מורשית למידע המאוחסן בהם.
		</p>
		<p dir="RTL">
		    כל העסקאות מעובדות באמצעות ספק שירותי שערי הסליקה (gateway), ואינן מאוחסנות
		    או מעובדות בשרתים שלנו.
		</p>
		<p dir="RTL">
		    <strong>"עוגיות" (</strong>
		    <strong>“cookies”</strong>
		    <strong>)</strong>
		</p>
		<p dir="RTL">
		    "עוגיות" הן קבצים קטנים שאתר או ספק שירותים שלו מעבירים לכונן הקשיח במחשב
		    שלך באמצעות דפדפן אינטרנט שלך (אם אתה מתיר זאת), שמאפשרים למערכות של האתר
		    או של ספק השירותים לזהות את הדפדפן שלך וללכוד ולזכור מידע מסוים. לדוגמא,
		    אנו עושים שימוש ב"עוגיות" על מנת שהן יעזרו לנו לזכור ולעבד את הפריטים
		    שבעגלת הקניות שלך. הן גם מסייעות לנו להבין את ההעדפות שלך, לפי פעילות קודמת
		    או נוכחית באתר, דבר שמאפשר לנו לספק לך שירותים משופרים. אנחנו עושים שימוש
		    ב"עוגיות" גם על מנת שיעזרו לנו לאסוף נתונים מצטברים על התעבורה והאינטראקציה
		    באתר, על מנת שנוכל להציע חוויות וכלים טובים יותר באתר בעתיד.
		</p>
		<p dir="RTL">
		    <strong>אנחנו עושים שימוש ב"עוגיות" לצורך אלה:</strong>
		</p>
		<p dir="RTL">
		    × על מנת שיעזרו לנו לזכור ולעבד את הפריטים שבעגלת הקניות;
		</p>
		<p dir="RTL">
		    × על מנת להבין ולשמור את העדפות המשתמש, לצורך ביקורים עתידיים.
		</p>
		<p dir="RTL">
		    אתה יכול לבחור שהמחשב שלך יזהיר אותך בכל פעם שתישלח "עוגייה", או לבחור
		    לנטרל את כל ה"עוגיות". הדבר מתבצע דרך הגדרות הדפדפן שלך. מאחר שכל דפדפן הוא
		    שונה במקצת, עיין בתפריט העזרה בדפדפן שלך, על מנת ללמוד את הדרך הנכונה
		    לשינוי ה"עוגיות" שלך.
		</p>
		<p dir="RTL">
		    <strong>אם המשתמש מנטרל את ה"עוגיות" בדפדפן שלו:</strong>
		</p>
		<p dir="RTL">
		    אם תנטרל את ה"עוגיות", חלק מן התכונות שהופכות את החוויה שלך באתר ליעילה
		    יותר עשויות שלא לפעול באופן תקין.
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>מסירת מידע לצדדים שלישיים:</strong>
		</p>
		<p dir="RTL">
		    מנהלי האתר לא יעבירו לצדדים שלישיים את פרטיך האישיים ו/או כל מידע הנאסף
		    ו/או נמסר על ידך במסגרת פעילותך באתר (ככל שפרטים ומידע זה מזהים אותך
		    אישית), אלא במקרים המפורטים להלן:
		</p>
		<p dir="RTL">
		    × במקרה של ביצוע עסקה ועל מנת לבצע אותה במערכת התשלומים אצל צד ג' ו/או בכל
		    מערכת אחרת המוכרת ומותרת על פי דין, בהתאם להסכמתך בעת מילוי פרטי החשבון
		    ו/או האשראי ו/או אחר.
		</p>
		<p dir="RTL">
		    × במקרה שתפר את תנאי השימוש באתר, או אם תבצע באמצעות האתר, או בקשר איתו,
		    פעולות בניגוד לדין או ניסיון לבצע פעולות כאלה, וכן בכל מחלוקת, טענה ו/או
		    תביעה, דרישה ו/או הליכים משפטיים ככל ויהיו בינך לבין מנהלי האתר, החברה ו/או
		    מי מטעמה. במקרה זה רשאית ולעיתים אף נדרשת החברה להעביר את המידע הנדרש
		    אודותיך לרשויות אכיפת החוק, לערכאות משפטיות, לנציגי החברה ו/או לכל גורם
		    רלבנטי נוסף על פי העניין ובהתאם לשיקול דעתך.
		</p>
		<p dir="RTL">
		    × אם יתקבל אצל החברה ו/או מי מטעמה צו שיפוטי המורה להם למסור את פרטיך או
		    המידע אודותיך לצד שלישי.
		</p>
		<p dir="RTL">
		    × בכל מקרה שמנהלי האתר יסברו כי מסירת המידע נחוצה על מנת למנוע נזק חמור
		    לגופך או רכושך או לגופו או רכושו של צד שלישי.
		</p>
		<p dir="RTL">
		    × אם מנהלי האתר יארגנו את פעילות האתר במסגרת ארגונית אחרת וכן במקרה שיתמזגו
		    עם גוף אחר או ימזגו את פעילות האתר עם פעילותו של צד שלישי – הם יהיו זכאים
		    להעביר למסגרת הארגונית החדשה העתק מן המידע שנאגר אודותיך באתר או כל מידע
		    סטטיסטי שבידיהם, ובלבד שמסגרת זו תקבל על עצמה כלפיך את הוראות מדיניות
		    פרטיות זו.
		</p>
		<p dir="RTL">
		    <strong>× </strong>
		    בכל מקרה אחר בו נתת את הסכמתך המפורשת ומראש למסירת המידע. הוראות סעיף זה
		    אינן מקנות זכויות לצד שלישי כלשהו לדרוש ממנהלי האתר לקבל מידע והן לא תחשבנה
		    לחוזה לטובת צד שלישי. <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>חוק ההגנה על פרטיות ילדים באינטרנט (</strong>
		    <strong>COPPA</strong>
		    <strong>)</strong>
		</p>
		<p dir="RTL">
		    לגבי איסוף מידע אישי מילדים מתחת לגיל 13, COPPA מוסר את השליטה להורים. רשות
		    הסחר האמריקאית (Federal Trade Commission) שהיא הרשות האמריקאית להגנת הצרכן,
		    אוכפת את COPPA, שבו מפורטים הפעולות שעל מפעילי אתרי אינטרנט ושירותים
		    מקוונים לבצע על מנת להגן על פרטיותם ובטיחותם של ילדים באינטרנט.
		</p>
		<p dir="RTL">
		    אנחנו לא מציעים ולא נותנים את שירותינו ולא משווקים, באופן ספציפי, לילדים
		    מתחת לגיל 18. אנחנו לא מאפשרים לצדדים שלישיים, לרבות רשתות פרסום או תוספים
		    (plug-ins) לאסוף מילדים מתחת לגיל 18 מידע אישי המאפשר זיהוי.
		</p>
		<p dir="RTL">
		    <strong>
		        <u>
		            השימוש באתר זה הינו כפוף להצהרת המשתמש כי גילו הינו 18 לכל הפחות,
		            הגיל המינימאלי המותר.
		        </u>
		    </strong>
		</p>
		<p dir="RTL">
		    <strong></strong>
		</p>
		<p dir="RTL">
		    <strong>
		        על מנת לעמוד בפרקטיקות ההוגנות לטיפול במידע, אנחנו מבצעים את פעולות
		        התגובה שלהלן, במקרים שבה יוודע ו/או יתברר לחברה על פריצת אבטחה:
		    </strong>
		</p>
		<p dir="RTL">
		    אנחנו נודיע למשתמשים מידית ולכל היותר בתוך 7 ימי עסקים על פריצת האבטחה
		    באמצעות פרסום באתר החברה.
		</p>
		<p dir="RTL">
		    אנחנו מסכימים גם לעקרון ההטבה האינדיבידואלית, שעל פיו ליחידים עומדת הזכות
		    לתבוע את זכויותיהם האכיפות כנגד אוספי ומעבדי מידע שאינם עומדים בדרישות
		    הדין. לפי עיקרון זה, לא זו בלבד שליחידים יש זכויות כנגד המשתמשים במידע, אלא
		    יש להם אפשרות לפנות לבתי המשפט או לרשויות שלטוניות, לצורך חקירת כל אי עמידה
		    של מעבדי מידע בהוראות הדין ו/או תביעה נגדם הכול בכפוף לתנאי השימוש וסמכות
		    השיפוט הקבועה בו.
		</p>
		<p dir="RTL">
		    <strong>זכות לעיין במידע </strong>
		</p>
		<p dir="RTL">
		    על פי חוק הגנת הפרטיות, התשמ"א – 1981, כל אדם זכאי לעיין בעצמו, או על ידי
		    בא-כוחו שהרשהו בכתב או על ידי אפוטרופוסו, במידע שעליו המוחזק במאגר מידע.
		    אדם שעיין במידע שעליו ומצא כי אינו נכון, שלם, ברור או מעודכן, רשאי לפנות
		    לבעל מאגר המידע בבקשה לתקן את המידע או למוחקו. אם בעל המאגר סירב למלא בקשה
		    זו, עליו להודיע על כך למבקש באופן ובדרך שנקבעו בתקנות. על סירובו של בעל
		    מאגר מידע לאפשר עיון ועל הודעת סירוב לתקן או למחוק מידע, רשאי מבקש המידע
		    לערער לפני בית משפט השלום באופן ובדרך שנקבעו בתקנות ובכפוף לתנאים הקבועים
		    כסמכות השיפוט בתנאי השימוש.
		    <br/>
		    בנוסף, אם המידע שבמאגרי מנהלי האתר משמש לצורך פניה אישית אליך, בהתבסס על
		    השתייכותך לקבוצת אוכלוסין, שנקבעה על פי איפיון אחד או יותר של בני אדם
		    ששמותיהם כלולים במאגר ("פניה בהצעה מסחרית"), כי אז אתה זכאי על-פי חוק הגנת
		    הפרטיות, התשמ"א- 1981, לדרוש בכתב שהמידע המתייחס אליך יימחק ממאגר המידע.
		    מנהלי האתר ימחקו במקרה זה מידע הדרוש להם רק כדי לפנות אליך בהצעות מסחריות
		    כאמור לעיל. מידע הדרוש למנהלי האתר לשם ניהול האתר יוסיף להישמר על-פי דין,
		    אך לא ישמש עוד לצורך פניות אליך. אם בתוך 30 ימים לא ימחק המידע שנתבקשו
		    מנהלי האתר למחוק על-פי סעיף זה, תהיה זכאי לפנות לבית משפט השלום באופן הקבוע
		    בתקנות שמכוח החוק בכפוף לתנאי השימוש וסמכות השיפוט הקבועה בו, כדי שיורה
		    למנהלי האתר לפעול כאמור.
		</p>
		<p dir="RTL">
		    <strong>שינויים במדיניות הפרטיות</strong>
		</p>
		<p dir="RTL">
		    החברה רשאית לשנות מעת לעת, על פי דעתה המוחלטת, את הוראות מדיניות הפרטיות
		    באתר זה. בכל עת תוכל לעיין במדיניות הפרטיות העדכנית באמצעות לחיצה על הקישור
		    המתאים המופיע בעמוד הכניסה לאתר ו/או בכל עמוד אחר בו.
		</p>
		<p dir="RTL">
		    אם יבוצעו במדיניות זו שינויים מהותיים, בהוראות שעניינן השימוש במידע אישי
		    שמסרת, תפורסם על כך הודעה בעמוד הבית של האתר. כל שינוי בהוראות אלו יכנסו
		    לתוקפם בתוך 30 ימים קלנדריים לאחר שפרסמנו באתר שלנו את ההודעה על השינויים.
		    לגבי משתמשים חדשים באתר שלנו, שינויים כאמור יכנסו לתוקפם באופן מידי. המשך
		    השימוש באתר שלנו לאחר ההודעה על השינויים כאמור, יבטא אישור על ידך של
		    שינויים כאמור והסכמה להיות מחויב בתנאים שבשינויים כאמור.
		</p>
		<p align="center" dir="RTL">
		    <strong><u>כל הזכויות שמורות לש.ח.ק טימבר בע"מ </u></strong>
		    <strong>
		        <u>
		            <img
		                width="22"
		                height="10"
		                src="file:///C:/Users/yaadm/AppData/Local/Temp/msohtmlclip1/01/clip_image002.gif"
		            />
		        </u>
		    </strong>
		    <strong><u></u></strong>
		</p>
	</div>
	<app-footer-page></app-footer-page>
</div>
