<div [@routerTransition]>
	<h2 class="text-muted">מדיניות פרטיות</h2>
	<div class="container jumbotron">
		<br/>
		<p dir="rtl">
		    מדיניות פרטיות
		</p>
		<br/>
		<p dir="rtl">
		    מדיניות פרטיות זו גובשה על מנת לשרת טוב יותר את מי שמודאג מן האופן שבו נעשה
		    שימוש במידע אישי המאפשר זיהוי, באופן מקוון. מידע אישי המאפשר זיהוי, כמתואר
		    בדיני הפרטיות בארה"ב ואבטחת מידע, הוא מידע שניתן לעשות בו שימוש, לבדו או
		    בצירוף מידע אחר, על מנת לזהות אדם יחיד, ליצור איתו קשר או לאתרו, או לזהות
		    יחיד בתוך הקשר. אנא קרא את מדיניות הפרטיות שלנו בעיון, על מנת להבין באופן
		    ברור כיצד אנו אוספים את המידע האישי שלך המאפשר זיהוי, עושים בו שימוש, מגנים
		    עליו ומטפלים בו בדרך אחרת, בהתאם לאתר האינטרנט שלנו.
		</p>
		<p dir="rtl">
		    איזה מידע אישי אנחנו אוספים ממי שמבקר בבלוג, באתר האינטרנט או באפליקציה
		    שלנו?
		</p>
		<p dir="rtl">
		    אנו לא אוספים מידע מן המבקרים באתר שלנו
		</p>
		<p dir="rtl">
		    או פרטים אחרים על מנת לסייע לך בחוויה שלך.
		</p>
		<br/>
		<p dir="rtl">
		    מתי אנחנו אוספים מידע?
		</p>
		<p dir="rtl">
		    אנו אוספים ממך מידע כשאתה ממלא טופס או מזין מידע לאתר שלנו.
		</p>
		<p dir="rtl">
		    כיצד אנו עושים שימוש במידע שלך?
		</p>
		<p dir="rtl">
		    אנחנו רשאים לעשות שימוש במידע שאנחנו אוספים ממך כשאתה נרשם, מבצע רכישה,
		    נרשם לניוזלטר שלנו, משיב לסקר או להודעה שיווקית, גולש באתר, או עושה שימוש
		    בתכונות אחרות של האתר שלנו, וזאת בדרכים שלהלן:
		</p>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            על מנת לבצע התאמה אישית של החוויה שלך ולאפשר לנו לספק את סוג התוכן
		            וההצעות לרכישת מוצרים, שבהם אתה מעוניין במידה הרבה ביותר;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            על מנת לעבד את העיסקאות שלך במהירות;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            על מנת לבקש דירוגים וביקורות של שירותים או מוצרים.
		        </p>
		    </li>
		</ul>
		<p dir="rtl">
		    כיצד אנחנו מגנים על המידע שלך?
		</p>
		<p dir="rtl">
		    האתר שלנו נסרק, באופן שוטף, לגילוי חורי אבטחה ורגישויות ידועות, על מנת
		    שהביקור שלך באתר שלנו יהיה כמה שיותר בטוח.
		</p>
		<p dir="rtl">
		    אנחנו עושים שימוש בסריקת נוזקות שוטפת.
		</p>
		<p dir="rtl">
		    המידע האישי שלך נשמר מאחורי רשתות מאובטחות, ויכולים לגשת אליו רק מספר
		    אנשים, שיש להם זכות גישה מיוחדת למערכות כאמור, ושנדרשים לשמור על סודיות
		    המידע. כמו כן, כל מידע רגיש או מידע על כרטיסי אשראי שאתה מוסר מוצפן באמצעות
		    טכנולוגיית SSL (הפרוטוקול הסטנדרטי לתקשורת מאובטחת).
		</p>
		<p dir="rtl">
		    אנחנו מיישמים מגוון אמצעי אבטחה בשעה שהמשתמש עושה הזמנה או מזין או מוסר
		    מידע שלו או ניגש אליו, על מנת לשמור על בטיחות המידע האישי שלך.
		</p>
		<p dir="rtl">
		    כל העיסקאות מעובדות באמצעות ספק שירותי שערי הסליקה (gateway), ואינן
		    מאוחסנות או מעובדות בשרתים שלנו.
		</p>
		<p dir="rtl">
		    האם אנו עושים שימוש ב"עוגיות" (“cookies”)?
		</p>
		<p dir="rtl">
		    כן. "עוגיות" הן קבצים קטנים שאתר או ספק שירותים שלו מעבירים לכונן הקשיח
		    במחשב שלך באמצעות דפדפן אינטרנט שלך (אם אתה מתיר זאת), שמאפשרים למערכות של
		    האתר או של ספק השירותים לזהות את הדפדפן שלך וללכוד ולזכור מידע מסויים.
		    לדוגמא, אנו עושים שימוש ב"עוגיות" על מנת שהן יעזרו לנו לזכור ולעבד את
		    הפריטים שבעגלת הקניות שלך. הן גם מסייעות לנו להבין את ההעדפות שלך, לפי
		    פעילות קודמת או נוכחית באתר, דבר שמאפשר לנו לספק לך שירותים משופרים. אנחנו
		    עושים שימוש ב"עוגיות" גם על מנת שיעזרו לנו לאסוף נתונים מצטברים על התעבורה
		    והאינטראקציה באתר, על מנת שנוכל להציע חוויות וכלים טובים יותר באתר בעתיד.
		</p>
		<p dir="rtl">
		    אנחנו עושים שימוש ב"עוגיות" לצורך אלה:
		</p>
		<ul>
		    <li dir="rtl">
		        <p dir="rtl">
		            על מנת שיעזרו לנו לזכור ולעבד את הפריטים שבעגלת הקניות;
		        </p>
		    </li>
		    <li dir="rtl">
		        <p dir="rtl">
		            על מנת להבין ולשמור את העדפות המשתמש, לצורך ביקורים עתידיים.
		        </p>
		    </li>
		</ul>
		<p dir="rtl">
		    אתה יכול לבחור שהמחשב שלך יזהיר אותך בכל פעם שתישלח "עוגיה", או לבחור לנטרל
		    את כל ה"עוגיות". הדבר מתבצע דרך הגדרות הדפדפן שלך. מאחר שכל דפדפן הוא שונה
		    במקצת, עיין בתפריט העזרה בדפדפן שלך, על מנת ללמוד את הדרך הנכונה לשינוי
		    ה"עוגיות" שלך.
		</p>
		<p dir="rtl">
		    אם המשתמש מנטרל את ה"עוגיות" בדפדפן שלו:
		</p>
		<p dir="rtl">
		    אם תנטרל את ה"עוגיות", חלק מן התכונות שהופכות את החוויה שלך באתר ליעילה
		    יותר עשויות שלא לפעול באופן תקין.
		</p>
		<p dir="rtl">
		    מסירת מידע לצדדים שלישיים:
		</p>
		<p dir="rtl">
		    האם אנחנו מוסרים מידע לצדדים שלישיים?
		</p>
		<p dir="rtl">
		    אנחנו מוכרים לצדדים חיצוניים את שמך, כתובתך, כל טופס או אימייל מזהה פרטי
		    קשר מקוונים, שם חשבון הצ'אט וכיו"ב, מספר הטלפון ומספר הביטוח הלאומי, וכן
		    סוחרים במידע כאמור ומעבירים אותו בדרך אחרת.
		</p>
		<p dir="rtl">
		    הסיבה שאנחנו נוהגים כך:
		</p>
		<p dir="rtl">
		    מערכת התשלומים של צד שלישי.
		</p>
		<p dir="rtl">
		    מידע אישי המאפשר זיהוי.
		</p>
		<p dir="rtl">
		    לינקים לצדדים שלישיים:
		</p>
		<p dir="rtl">
		    אנחנו לא כוללים או מציעים מוצרים או שירותים של צדדים שלישיים באתר שלנו.
		</p>
		<p dir="rtl">
		    גוגל:
		</p>
		<p dir="rtl">
		    דרישות הפרסום של גוגל מסוכמות בעקרונות הפרסום של גוגל (Advertising
		    Principles). הם נקבעו על מנת לספק חוויה חיובית למשתמשים.
		</p>
		<p dir="rtl">
		    <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">
		        https://support.google.com/adwordspolicy/answer/1316548?hl=en
		    </a>
		</p>
		<p dir="rtl">
		    אנחנו לא הפעלנו את AdSense של גוגל באתר שלנו, אך נהיה רשאים לעשות זאת
		    בעתיד.
		</p>
		<p dir="rtl">
		    חוק ההגנה על הפרטיות באינטרנט (Online Privacy Protection Act) של קליפורניה
		    (CalOPPA):
		</p>
		<p dir="rtl">
		    CalOPPA הוא החוק המדינתי הראשון בארה"ב שדורש מאתרי אינטרנט מסחריים
		    ומשירותים מקוונים לפרסם מדיניות פרטיות. תחולתו של החוק מתפרשת אל מעבר
		    לקליפורניה בלבד. הוא דורש מכל אדם או חברה בארה"ב (וכנראה שבכל העולם),
		    שמפעילים אתרי אינטרנט שאוספים מצרכנים בקליפורניה מידע אישי המאפשר זיהוי,
		    לפרסם מדיניות פרטיות בולטת באתרים שלהם, שבה יפורט בדיוק איזה מידע נאסף, ואת
		    היחידים והחברות שאיתם הם משתפים אותו. למידע נוסף:
		    <a
		        href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf"
		    >
		        http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
		    </a>
		    .
		</p>
		<p dir="rtl">
		    על פי CalOPPA, אנחנו מסכימים כמפורט להלן:
		</p>
		<p dir="rtl">
		    המשתמשים יכולים לבקר באתר באופן אנונימי.
		</p>
		<p dir="rtl">
		    בהשלמת עריכת מדיניות פרטיות זו, נפרסם לינק אליה בדף הבית שלנו, או לפחות בדף
		    המשמעותי הראשון שמופיע לאחר הכניסה לאתר שלנו.
		</p>
		<p dir="rtl">
		    הלינק למדיניות הפרטיות שלנו כולל את המילה "פרטיות", וניתן למצוא אותו בקלות
		    בדף כאמור.
		</p>
		<p dir="rtl">
		    אתה תקבל הודעה על כל שינוי במדיניות הפרטיות בדף מדיניות הפרטיות שלנו. תוכל
		    לשנות את המידע האישי שלך בפנייה אלינו בטלפון, או בכניסה לחשבון שלך.
		</p>
		<p dir="rtl">
		    כיצד האתר שלנו מטפל באותות "אל תעקוב" (Do Not Track)?
		</p>
		<p dir="rtl">
		    אנו מכבדים אותות "אל תעקוב", ולא עוקבים, וכאשר מנגנון זה מופעל בדפדפן, אנו
		    נמנעים מלעקוב, לשמור "עוגיות" ולפרסם.
		</p>
		<p dir="rtl">
		    האם האתר שלנו מאפשר מעקב התנהגותי של צדדים שלישיים?
		</p>
		<p dir="rtl">
		    חשוב גם לציין שאנחנו לא מאפשרים מעקב התנהגותי של צדדים שלישיים.
		</p>
		<p dir="rtl">
		    חוק ההגנה על פרטיות ילדים באינטרנט (COPPA)
		</p>
		<p dir="rtl">
		    לגבי איסוף מידע אישי מילדים מתחת לגיל 13, COPPA מוסר את השליטה להורים. רשות
		    הסחר האמריקאית (Federal Trade Commission) שהיא הרשות האמריקאית להגנת הצרכן,
		    אוכפת את COPPA, שבו מפורטים הפעולות שעל מפעילי אתרי אינטרנט ושירותים
		    מקוונים לבצע על מנת להגן על פרטיותם ובטיחותם של ילדים באינטרנט.
		</p>
		<p dir="rtl">
		    אנחנו לא משווקים, באופן ספציפי, לילדים מתחת לגיל 13. אנחנו לא מאפשרים
		    לצדדים שלישיים, לרבות רשתות פרסום או תוספים (plug-ins) לאסוף מילדים מתחת
		    לגיל 13 מידע אישי המאפשר זיהוי.
		</p>
		<p dir="rtl">
		    פרקטיקות הוגנות לטיפול במידע
		</p>
		<p dir="rtl">
		    עקרונות הפרקטיקות ההוגנות לטיפול במידע מהווים את התשתית לדיני הפרטיות
		    בארה"ב, והמושגים שהם כוללים מילאו תפקיד משמעותי בפיתוח דיני הגנת המידע
		    ברחבי העולם.
		</p>
		<p dir="rtl">
		    ההבנה של עקרונות הפרקטיקות ההוגנות לטיפול במידע והאופן שבו יש ליישמם, היא
		    קריטית לצורך העמידה בדיני הפרטיות השונים המגנים על מידע אישי.
		</p>
		<p dir="rtl">
		    על מנת לעמוד בפרקטיקות ההוגנות לטיפול במידע, אנחנו מבצעים את פעולות התגובה
		    שלהלן, במקרים של פריצת אבטחה:
		</p>
		<p dir="rtl">
		    אנחנו נודיע לך באימייל בתוך 7 ימי עסקים.
		</p>
		<p dir="rtl">
		    אנחנו מסכימים גם לעקרון ההטבה האינדווידואלית, שעל פיו ליחידים עומדת הזכות
		    לתבוע את זכויותיהם האכיפות כנגד אוספי ומעבדי מידע שאינם עומדים בדרישות
		    הדין. לפי עיקרון זה, לא זו בלבד שליחידים יש זכויות כנגד המשתמשים במידע, אלא
		    יש להם אפשרות לפנות לבתי המשפט או לרשויות שלטוניות, לצורך חקירת כל אי עמידה
		    של מעבדי מידע בהוראות הדין ו/או תביעה נגדם.
		</p>
		<div>
		    <br/>
		</div>
	</div>
	<app-footer-page></app-footer-page>
</div>
